<div class="left-content">
    <ul>
        <li>
            <a class="active" href="">
                <i class="fa-solid fa-house"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-brands fa-square-github"></i>
                <span>Đề thi của tôi</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-paperclip"></i>
                <span>Chính sách</span>
            </a>
        </li>
    </ul>
</div>
<div class="right-content">
    <div class="container-section">
        <div class="section-list">
            <div class="section-item">
                <div class="section-item-header">
                    <span>Mới nhất</span>
                    <p>Xem Tất cả</p>
                </div>
                <div class="section-item-content">
                    <div class="card-container">
                        <div class="card-item">
                            <div class="image-container">
                                <img src="../assets/images/web.png" alt="Quiz Image" class="quiz-image">
                            </div>
                            <div class="quiz-info">
                                <h2>Quản trị mạng</h2>
                                <div class="author-date">
                                    <div class="author">
                                        <div class="author-icon">
                                            <span>H</span>
                                        </div>
                                        <p class="author-name">Doan Thi Cam Quyen</p>
                                    </div>
                                    <div class="date">
                                        <p>23/07/2024</p>
                                    </div>
                                </div>
                                <div class="quiz-stats">
                                    <div class="stat-item">
                                        <i class="fas fa-question-circle"></i>
                                        <span>1</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-chart-bar"></i>
                                        <span>0</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-thumbs-up"></i>
                                        <span>0</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-arrow-down"></i>
                                        <span>0</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-download"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                                <div class="quiz-tags">
                                    <span class="tag">Đại Học Kinh Tế</span>
                                    <span class="tag">Trung Tâm Đào Tạo</span>
                                </div>
                                <button class="start-btn">Bắt Đầu</button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="image-container">
                                <img src="../assets/images/web.png" alt="Quiz Image" class="quiz-image">
                            </div>
                            <div class="quiz-info">
                                <h2>Quản trị mạng</h2>
                                <div class="author-date">
                                    <div class="author">
                                        <div class="author-icon">
                                            <span>H</span>
                                        </div>
                                        <p class="author-name">Doan Thi Cam Quyen</p>
                                    </div>
                                    <div class="date">
                                        <p>23/07/2024</p>
                                    </div>
                                </div>
                                <div class="quiz-stats">
                                    <div class="stat-item">
                                        <i class="fas fa-question-circle"></i>
                                        <span>1</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-chart-bar"></i>
                                        <span>0</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-thumbs-up"></i>
                                        <span>0</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-arrow-down"></i>
                                        <span>0</span>
                                    </div>
                                    <div class="stat-item">
                                        <i class="fas fa-download"></i>
                                        <span>0</span>
                                    </div>
                                </div>
                                <div class="quiz-tags">
                                    <span class="tag">Đại Học Kinh Tế</span>
                                    <span class="tag">Trung Tâm Đào Tạo</span>
                                </div>
                                <button class="start-btn">Bắt Đầu</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="section-list">
            <div class="section-item">
                <div class="section-item-header">
                </div>
                <div class="section-item-content">
                </div>
            </div>
        </div>
    </div>
</div>


    