<div class="container-exam">
    <div class="row">
        <div class="col-3 left">left</div>
        <div class="col-6 center">
            <div class="root">
                <div class="header">
                    <div class="header-content">
                        <span>
                            Câu 1(1 đáp án)
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        <h4>Câu 1: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</h4>
                    </div>
                    <hr>
                    <div class="content-content">
                        <ul>
                            <div class="content-item">
                                <label for="myRadioId1" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId1" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        a. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId2" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId2" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        b. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId3" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId3" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        c. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                        </ul>
                    </div>      
                </div>
                <div class="footer">
                    hoho
                </div>
            </div>
        </div>
        <div class="col-3 right">right</div>
    </div>
</div>