<div class="container-exam">
    <div class="row">
        <div class="col-3 left">
            <div class="root">
                <div class="header">
                    <div class="header-content">
                        <span>
                            Đề minh họa THPTQG môn tiếng Anh 2024 - Bộ GD&ĐT
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="content-1">
                        <div>
                            <div>
                                <img src="https://pesthubt.s3-ap-southeast-1.amazonaws.com/uploads/user/59796/IMG_1714719505.jpg" alt="">
                            </div>
                            <p>Ôn thi THPT Quốc Gia</p>
                        </div>
                    </div>
                    <div class="content-2">
                        <div>
                            <p><i class="fa-solid fa-chart-simple"></i></p>
                            <p>1.329</p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-download"></i></p>
                            <p>150</p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-thumbs-up"></i></p>
                            <p>100</p>
                        </div>
                    </div>
                    <hr>
                    <div class="content-3">
                        <p>Chế độ:</p>
                        <p>Ôn thi</p>
                    </div>
                    <div class="content-4">
                        <p>Thời gian làm bài thi</p>
                        <div>
                            00 : 02 : 49
                        </div>
                    </div>
                    <hr>
                    <div class="content-5">
                        <div class="dropdown">
                            <input id="textBox1" type="text" class="textBox" placeholder="Tắt" readonly>
                            <div class="matching-select">
                                <div data-value="Tắt">Tắt</div> <!-- Option để reset -->
                                <div data-value="1s">1s</div>
                                <div data-value="5s"> 5s</div>
                                <div data-value="10s">10s</div>
                                <div data-value="15s">15s</div>
                                <div data-value="20s">20s</div>
                            </div>
                            <span class="title"></span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer-icon">
                        <i class="fa-solid fa-share"></i>
                        <div>
                            <i class="fa-regular fa-thumbs-up"></i>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 center">
            <div class="root">
                <div class="header">
                    <div class="header-content">
                        <span>
                            Câu 1(1 đáp án)
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        <h4>Câu 1: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</h4>
                    </div>
                    <hr>
                    <div class="content-content">
                        <ul>
                            <div class="content-item">
                                <label for="myRadioId1" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId1" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        a. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId2" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId2" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        b. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId3" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId3" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        c. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                        </ul>
                    </div>      
                </div>
                <div class="footer">
                    <button id="prev-button">
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-left inside"></i>
                        </div>
                        <span>Trước</span>  
                    </button>
                    <button id="next-button">
                        <span>Sau</span>
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-right inside"></i>   
                        </div>
                    </button>    
                </div>
            </div>
            <div class="root">
                <div class="header">
                    <div class="header-content">
                        <span>
                            Câu 1(1 đáp án)
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        <h4>Sheena Southall, a 22-year-old student, was keen to test her limit when she agreed to appear on a TV show. It has been described as one of the most fascinating shows in the world.

                            She saw an advert which said: “Do you want to make some quick cash and do you want to travel?” She talked to herself: “Why don't I have a try? I'm always looking for an opportunity to test myself.” So, she applied for the job, went for an interview, and got it. At the interview, she explained how she was prepared for any challenges. Then, just as she was leaving for Singapore she found out that she was going to become a skyscraper window cleaner.
                         
                            The job was challenging. She had to pull herself up and down carrying heavy water buckets. If she didn't clean the windows properly, they would tell her to go back and do it again. But she admits the experience has changed her. As soon as she got back, she finished her studies and graduated. She started hunting for a job that would be both exciting and tough. Sheena says: “Nothing will ever be as exciting and scary as that first day of cleaning windows up in the air. But if you don't face your fears and accept what life offers you, how will you know what you are capable of? It has been the best experience of my life so far."</h4>
                    </div>
                    <hr>
                    <div class="content-content">
                        <p>Câu 1: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</p>
                        <ul>
                            <div class="content-item">
                                <label for="myRadioId1" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId1" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        a. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId2" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId2" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        b. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId3" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId3" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        c. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                        </ul>
                    </div>
                    <div class="content-content">
                        <p>Câu 2: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</p>
                        <ul>
                            <div class="content-item">
                                <label for="myRadioId1" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId1" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        a. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId2" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId2" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        b. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId3" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId3" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        c. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                        </ul>
                    </div>
                    <div class="content-content">
                        <p>Câu 3: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</p>
                        <ul>
                            <div class="content-item">
                                <label for="myRadioId1" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId1" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        a. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId2" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId2" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        b. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                            <div class="content-item">
                                <label for="myRadioId3" class="radio">
                                    <input type="radio" name="myRadioField" id="myRadioId3" class="radio__input">
                                    <div class="radio__radio"></div>
                                    <span>
                                        c. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </span>
                                </label>
                            </div>
                        </ul>
                    </div>      
                </div>
                <div class="footer">
                    <button id="prev-button">
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-left inside"></i>
                        </div>
                        <span>Trước</span>  
                    </button>
                    <button id="next-button">
                        <span>Sau</span>
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-right inside"></i>   
                        </div>
                    </button>    
                </div>
            </div>
            <div class="root">
                <div class="header">
                    <div class="header-content">
                        <span>
                            Câu 1(1 đáp án)
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        <h4>Câu 1: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</h4>
                    </div>
                    <hr>
                    <div class="content-content">
                        <ul>
                            <div class="content-item">
                                <div class="checkbox">
                                    <input type="checkbox" id="check1">
                                    <label for="check1">
                                        A. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </label>    
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="checkbox">
                                    <input type="checkbox" id="check2">
                                    <label for="check2">
                                        A. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </label>    
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="checkbox">
                                    <input type="checkbox" id="check3">
                                    <label for="check3">
                                        A. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </label>    
                                </div>
                            </div>
                            <div class="content-item">
                                <div class="checkbox">
                                    <input type="checkbox" id="check4">
                                    <label for="check4">
                                        A. Vì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thểVì có hai loại lao động là lao động trừu tượng và lao động cụ thể
                                    </label>    
                                </div>
                            </div>
                        </ul>
                    </div>      
                </div>
                <div class="footer">
                    <button id="prev-button">
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-left inside"></i>
                        </div>
                        <span>Trước</span>  
                    </button>
                    <button id="next-button">
                        <span>Sau</span>
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-right inside"></i>   
                        </div>
                    </button>    
                </div>
            </div>
            <div class="root">
                <div class="header">
                    <div class="header-content">
                        <span>
                            Câu 1(1 đáp án)
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        <h4>Câu 1: Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</h4>
                    </div>
                    <hr>
                    <div class="content-content">
                        <div class="matching">
                            <div class="matching-item">
                                <div class="item-left">
                                    <p>Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</p>
                                </div>
                                <div class="item-right">
                                    <div></div>
                                </div>
                            </div>
                            <div class="matching-item">
                                <div class="item-left">
                                    <p>Vì sao hàng hóa có hai thuộc tính là giá trị và giá trị sử dụng?</p>
                                </div>
                                <div class="item-right">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <div class="footer">
                    <button id="prev-button">
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-left inside"></i>
                        </div>
                        <span>Trước</span>  
                    </button>
                    <button id="next-button">
                        <span>Sau</span>
                        <div class="btn-circle">
                            <i class="fas fa-circle"></i><i class="fas fa-chevron-right inside"></i>   
                        </div>
                    </button>    
                </div>
            </div>
        </div>
        <div class="col-3 right">
            <div class="root">
                <div class="header">
                    <h3>Mục lục câu hỏi</h3>
                </div>
                <div class="content">
                    <div class="content-content">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <button>5</button>
                        <button>5</button>
                        <button>5</button>
                        <button>5</button>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <button>5</button>
                        <button>5</button>
                        <button>5</button>
                        <button>5</button>
                    </div>
                </div>
                <div class="footer">
                    <button>Làm lại Câu sai</button>
                </div>
            </div>
        </div>
    </div>
</div>