<div class="container">
    <div class="header">
        <div class="left">
            <div class="image-left">
                <img src="../assets/exam/logo_vnua-1.png" alt="">
            </div>
        </div>
        <div class="center">
            <h1>HỌC VIỆN NÔNG NGHIỆP VIỆT NAM</h1>
            <h2>TRUNG TÂM TIN HỌC</h2>
        </div>
        <div class="right">
            <div class="image-right">
                <img src="../assets/exam/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <h3>Thi thử trắc nghiệm</h3>
        <h4>Môn: Chuẩn đầu ra Tin học VNUA</h4>
    </div>
    <nav>
        <div class="question-time">
            <div class="index-question">
                <div class="index">
                    1
                </div>
                <div class="index">
                    2
                </div>
                <div class="index">
                    3
                </div>
                <div class="index">
                    4
                </div>
                <div class="index">
                    5
                </div>
                <div class="index">
                    6
                </div>
                <div class="index">
                    7
                </div>
                <div class="index">
                    8
                </div>
                <div class="index">
                    9
                </div>
                <div class="index">
                    10
                </div>
                <div class="index">
                    11
                </div>
                <div class="index">
                    12
                </div>
                <div class="index">
                    13
                </div>
                <div class="index">
                    14
                </div>
                <div class="index">
                    15
                </div>
                <div class="index">
                    16
                </div>
                <div class="index">
                    17
                </div>
                <div class="index">
                    18
                </div>
                <div class="index">
                    19
                </div>
                <div class="index">
                    20
                </div>
                <div class="index">
                    21
                </div>
                <div class="index">
                    22
                </div>
                <div class="index">
                    23
                </div>
                <div class="index">
                    24
                </div>
                <div class="index">
                    25
                </div>
            </div>
            <div class="remaining-time">
                <div class="circle-time">
                    <div class="circle">
                        <span>1</span>
                    </div>
                </div>
                <div class="circle-time">
                    <div class="circle">
                        <span>30</span>
                    </div>
                </div>
                <div class="circle-time">
                    <div class="circle">
                        <span>05</span>
                    </div>
                </div>
                
            
            </div>
        </div>
    </nav>
    <div class="question-item">
        <div class="question">
            <b>Câu: 1 Ngày nay Công nghệ thông tin có thể được ứng dụng rộng rãi trong nông nghiệp do:</b>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>A. </b>
                Tập trung hoá thông tin.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>B. </b>
                Kết nối chi phí thấp và phổ biến.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>C. </b>
                Những tiến bộ trong lưu trữ và trao đổi dữ liệu.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>D. </b>
                Tất cả các lý do trên.
            </label>
        </div>
    </div>
    <div class="question-item">
        <div class="question">
            <b>Câu: 2 Ngày nay Công nghệ thông tin có thể được ứng dụng rộng rãi trong nông nghiệp do:</b>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>A. </b>
                Tập trung hoá thông tin.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>B. </b>
                Kết nối chi phí thấp và phổ biến.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>C. </b>
                Những tiến bộ trong lưu trữ và trao đổi dữ liệu.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>D. </b>
                Tất cả các lý do trên.
            </label>
        </div>
    </div>
    <div class="question-item">
        <div class="question">
            <b>Câu: 3 Ngày nay Công nghệ thông tin có thể được ứng dụng rộng rãi trong nông nghiệp do:</b>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>A. </b>
                Tập trung hoá thông tin.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>B. </b>
                Kết nối chi phí thấp và phổ biến.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>C. </b>
                Những tiến bộ trong lưu trữ và trao đổi dữ liệu.
            </label>
        </div>
        <div class="answer">
            <input type="checkbox">
            <label for="">
                <b>D. </b>
                Tất cả các lý do trên.
            </label>
        </div>
    </div>

</div>