<div class="container">
    <!-- <div class="header">
        <div class="left">
            <div class="image-left">
                <img src="./assets/exam/logo_vnua-1.png" alt="">
            </div>
        </div>
        <div class="center">
            <h1>HỌC VIỆN NÔNG NGHIỆP VIỆT NAM</h1>
            <h2>TRUNG TÂM TIN HỌC</h2>
        </div>
        <div class="right">
            <div class="image-right">
                <img src="./assets/exam/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <h3>Thi thử trắc nghiệm</h3>
        <h4>Môn: Chuẩn đầu ra Tin học VNUA</h4>
    </div> -->
    <nav>
        <div class="question-time">
            <div class="index-question">
                <a href="#1-card" class="index">
                    1
                </a>
                <a href="#" class="index">
                    2
                </a>
                <a  href="#" class="index">
                    3
                </a>
                <a href="#" class="index">
                    4
                </a>
                <a href="#" class="index">
                    5
                </a>
                <a href="#" class="index">
                    6
                </a>
                <a href="#" class="index">
                    7
                </a>
                <a  href="#" class="index">
                    8
                </a>
                <a href="#" class="index">
                    9
                </a>
                <a href="#" class="index">
                    10
                </a>
                <a href="#" class="index">
                    11
                </a>
                <a href="#" class="index">
                    12
                </a>
                <a href="#" class="index">
                    13
                </a>
                <a href="#" class="index">
                    14
                </a>
                <a href="#" class="index">
                    15
                </a>
                <a href="#" class="index">
                    16
                </a>
                <a href="#" class="index">
                    17
                </a>
                <a href="#" class="index">
                    18
                </a>
                <a href="#" class="index">
                    19
                </a>
                <a href="#" class="index">
                    20
                </a>
                <a href="#" class="index">
                    21
                </a>
                <a href="#" class="index">
                    22
                </a>
                <a href="#" class="index">
                    23
                </a>
                <a href="#" class="index">
                    24
                </a>
                <a href="#" class="index">
                    25
                </a>
                <a href="#" class="index">
                    26
                </a>
                <a href="#" class="index">
                    27
                </a>
                <a href="#" class="index">
                    28
                </a>
                <a href="#" class="index">
                    29
                </a>
                <a href="#" class="index">
                    30
                </a>
            </div>
            <!-- VER 1 -->
            <!-- <div class="remaining-time">
                <div class="circle-time">
                    <div class="circle">
                        <span>1</span>
                    </div>
                </div>
                <div class="circle-time">
                    <div class="circle">
                        <span>30</span>
                    </div>
                </div>
                <div class="circle-time">
                    <div class="circle">
                        <span>05</span>
                    </div>
                </div>
            </div> -->
            <!-- VER 2 -->
            <div class="base-timer">
                <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g class="base-timer__circle">
                      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                      <path
                        id="base-timer-path-remaining"
                        stroke-dasharray="283"
                        class="base-timer__path-remaining green"
                        d="
                          M 50, 50
                          m -45, 0
                          a 45,45 0 1,0 90,0
                          a 45,45 0 1,0 -90,0
                        "
                      ></path>
                    </g>
                </svg>
                <span id="base-timer-label" class="base-timer__label">00:00:00</span>
            </div>
        </div>
    </nav>
    <div class="question-container">
        <div id="1-card" class="question-item">
            <div class="question">
                <b>Câu 1:</b>
                <p><b>&nbsp;Ngày nay Công nghệ thông tin có thể được ứng dụng rộng rãi trong nông nghiệp do:</b></p>
            </div>
            <div class="answer">
                <!-- <input type="radio" name="1" value="option_a">
                <label for="">
                    <b>A. </b>
                    <p>Tập trung hoá thông tin.</p>
                </label> -->
                <label for="myRadioId1" class="radio">
                    <input type="radio" name="myRadioField" id="myRadioId1" class="radio__input">
                    <div class="radio__radio"></div>
                    A. Visual Studio
                </label>
            </div>
            <div class="answer">
                <!-- <input type="radio" name="1" value="option_a">
                <label for="">
                    <b>A. </b>
                    <p>Tập trung hoá thông tin.</p>
                </label> -->
                <label for="myRadioId2" class="radio">
                    <input type="radio" name="myRadioField" id="myRadioId2" class="radio__input">
                    <div class="radio__radio"></div>
                    Visual Studio
                </label>
            </div>
            <div class="answer">
                <!-- <input type="radio" name="1" value="option_a">
                <label for="">
                    <b>A. </b>
                    <p>Tập trung hoá thông tin.</p>
                </label> -->
                <label for="myRadioId3" class="radio">
                    <input type="radio" name="myRadioField" id="myRadioId3" class="radio__input">
                    <div class="radio__radio"></div>
                    Visual Studio
                </label>
            </div>
            <div class="answer">
                <!-- <input type="radio" name="1" value="option_a">
                <label for="">
                    <b>A. </b>
                    <p>Tập trung hoá thông tin.</p>
                </label> -->
                <label for="myRadioId4" class="radio">
                    <input type="radio" name="myRadioField" id="myRadioId4" class="radio__input">
                    <div class="radio__radio"></div>
                    Visual Studio
                </label>
            </div>
            <div class="answer">
                <!-- <input type="radio" name="1" value="option_a">
                <label for="">
                    <b>A. </b>
                    <p>Tập trung hoá thông tin.</p>
                </label> -->
                <label for="myRadioId5" class="radio">
                    <input type="radio" name="myRadioField" id="myRadioId5" class="radio__input">
                    <div class="radio__radio"></div>
                    Visual Studio
                </label>
            </div>
            <div class="answer">
                <!-- <input type="radio" name="1" value="option_a">
                <label for="">
                    <b>A. </b>
                    <p>Tập trung hoá thông tin.</p>
                </label> -->
                <label for="myRadioId6" class="radio">
                    <input type="radio" name="myRadioField" id="myRadioId6" class="radio__input">
                    <div class="radio__radio"></div>
                    Visual Studio
                </label>
            </div>
            
        </div>
        <div id="2-card" class="question-item">
            <div class="question">
                <b>Câu 2:</b>
                <p><b>&nbsp;Ngày nay Công nghệ thông tin có thể được ứng dụng rộng rãi trong nông nghiệp do:</b></p>
            </div>
            <div class="answer-matching">
                <div class="content">
                    <div class="item">A. Cái mà để tạo các chức năng động cho trang web</div>
                </div>
                <div class="dropdown">
                    <input id="textBox1" type="text" class="textBox" placeholder="Chọn" readonly>
                    <div class="option">
                        <div data-value=""> Chọn</div> <!-- Option để reset -->
                        <div data-value="HTML"><ion-icon name="logo-html5"></ion-icon> HTML</div>
                        <div data-value="CSS"><ion-icon name="logo-css3"></ion-icon> CSS</div>
                        <div data-value="Javascript"><ion-icon name="logo-nodejs"></ion-icon> Javascript</div>
                        <div data-value="Figma"><ion-icon name="logo-firefox"></ion-icon> Figma</div>
                        <div data-value="ReactJS"><ion-icon name="logo-react"></ion-icon> ReactJS</div>
                    </div>
                </div>
            </div>
            <div class="answer-matching">
                <div class="content">
                    <div class="item">B. Cái gì là chữ viết tắt của Cascading Style Sheets, nó là một ngôn ngữ được sử dụng để tìm và định dạng lại các phần tử được tạo ra bởi các ngôn ngữ đánh dấu (HTML). Nói ngắn gọn hơn là ngôn ngữ tạo phong cách cho trang web </div>
                </div>
                <div class="dropdown">
                    <input id="textBox2" type="text" class="textBox" placeholder="Chọn" readonly>
                    <div class="option">
                        <div data-value=""> Chọn</div> <!-- Option để reset -->
                        <div data-value="HTML"><ion-icon name="logo-html5"></ion-icon> HTML</div>
                        <div data-value="CSS"><ion-icon name="logo-css3"></ion-icon> CSS</div>
                        <div data-value="Javascript"><ion-icon name="logo-nodejs"></ion-icon> Javascript</div>
                        <div data-value="Figma"><ion-icon name="logo-firefox"></ion-icon> Figma</div>
                        <div data-value="ReactJS"><ion-icon name="logo-react"></ion-icon> ReactJS</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="3-card" class="question-item">
            <div class="question">
                <b>Câu 3:</b>
                <p><b>&nbsp;Hãy chọn các câu trả lời đúng:</b></p>
            </div>
            <div class="answer-multichoice">
                <input type="checkbox" id="check1">
                <label for="check1">
                    A. checkbox
                </label>    
            </div>
            <div class="answer-multichoice">
                <input type="checkbox" id="check2">
                <label for="check2">
                    checkbox
                </label>    
            </div>
            <div class="answer-multichoice">
                <input type="checkbox" id="check3">
                <label for="check3">
                    checkbox
                </label>    
            </div>
            <div class="answer-multichoice">
                <input type="checkbox" id="check4">
                <label for="check4">
                    checkbox
                </label>    
            </div>
            <div class="answer-multichoice">
                <input type="checkbox" id="check5">
                <label for="check5">
                    checkbox
                </label>    
            </div> 
        </div>
        <div id="4-card" class="question-item">
            <div class="question">
                <b>Câu 4:</b>
                <p><b>Điền vào các chỗ trống sau:</b></p>
            </div>
            <div class="answer-fill">
                <span>A </span>
                <input type="text" required="required">
                <!-- <span>Frist Name</span> -->
            </div>
            <div class="answer-fill">
                <span>B </span>
                <input type="text" required="required">
                <!-- <span>Last Name</span> -->
            </div>
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>