<div class="container">
    <div class="footer-1">
        <div class="row row-cols-4">
            <div class="col">
                <div class="title">
                    <span>liên hệ</span>
                </div>
                <div class="content">
                    <p>trụ sở: A401, học viện ngoại giao, 69 chùa láng, q. đống đa,tp. hà nội </p>
                    <p>điện thoại: 0963007746</p>
                    <p>email: doduchuyhuy@dav.edu.vn</p>
                    <p>mã số thuế: 6789</p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>về phòng tin học</span>
                </div>
                <div class="content">
                    <p>giới thiệu</p>
                    <p>liên hệ</p>
                    <p>hỗ trợ</p>
                    <p>quy định</p>
                    <p>faq</p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>dịch vụ</span>
                </div>
                <div class="content">
                    <p>máy chủ/chỗ đặt máy chủ</p>
                    <p>web hosting</p>
                    <p>máy chủ ảo</p>
                    <p>cloud server</p>
                    <p>thiết kế web</p>
                    <p>tên miền</p>
                    <p>email</p>
                    <p>license</p>
                    <p>ssl</p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>chính sách</span>
                </div>
                <div class="content">
                    <p>quy định sử dụng dịch vụ</p>
                    <p>chính sách bảo mật</p>
                    <p>văn bản pháp lý</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="row row-cols-3">
            <div class="col">
                <div class="title">
                    <span>chứng chỉ trang web</span>
                </div>
                <div class="content">
                    <p>quy định sử dụng dịch vụ</p>
                    <p>chính sách bảo mật</p>
                    <p>văn bản pháp lý</p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>hỗ trợ thanh toán</span>
                </div>
                <div class="content">
                    <p>quy định sử dụng dịch vụ</p>
                    <p>chính sách bảo mật</p>
                    <p>văn bản pháp lý</p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>kết nối với phòng tin học</span>
                </div>
                <div class="content">
                    <p>quy định sử dụng dịch vụ</p>
                    <p>chính sách bảo mật</p>
                    <p>văn bản pháp lý</p>
                </div>
            </div>
        </div>
    </div>
</div>
