<div class="container">
    <div class="footer-1">
        <div class="row row-cols-4 row-cols-lg-2 row-cols-sm-1">
            <div class="col">
                <div class="title">
                    <span>liên hệ</span>
                </div>
                <div class="content">
                    <p>trụ sở: A401, học viện ngoại giao, 69 chùa láng, q. đống đa,tp. hà nội </p>
                    <p>điện thoại: 0963007746</p>
                    <p>email: doduchuyhuy@dav.edu.vn</p>
                    <p>mã số thuế: 6789</p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>về phòng tin học</span>
                </div>
                <div class="content">
                    <p>
                        <a href="#!">giới thiệu</a>
                    </p>
                    <p>
                        <a href="#!">liên hệ</a>
                    </p>
                    <p>
                        <a href="#!">hỗ trợ</a>
                    </p>
                    <p>
                        <a href="#!">quy định</a>
                    </p>
                    <p>
                        <a href="#!">faq</a>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>dịch vụ</span>
                </div>
                <div class="content">
                    <p>
                        <a href="#!">máy chủ/chỗ đặt máy chủ</a>
                    </p>
                    <p>
                        <a href="#!">web hosting</a>
                    </p>
                    <p>
                        <a href="#!">máy chủ ảo</a>
                    </p>
                    <p>
                        <a href="#!">cloud server</a>
                    </p>
                    <p>
                        <a href="#!">thiết kế web</a>
                    </p>
                    <p>
                        <a href="#!">tên miền</a>
                    </p>
                    <p>
                        <a href="#!">email</a>
                    </p>
                    <p>
                        <a href="#!">license</a>
                    </p>
                    <p>
                        <a href="#!">ssl</a> 
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <span>chính sách</span>
                </div>
                <div class="content">
                    <p>
                        <a href="#!">quy định sử dụng dịch vụ</a>
                    </p>
                    <p>
                        <a href="#!">chính sách bảo mật</a>
                    </p>
                    <p>
                        <a href="#!">văn bản pháp lý</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="row row-cols-3">
            <div class="col col-lg-12">
                <div class="title">
                    <span>chứng chỉ trang web</span>
                </div>
                <div class="content-image-1">
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/bo-cong-thuong_1-1.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/vnnic.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/Google_news_logo.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/alibaba_cloud.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/HostAdvice.com_Logo.svg.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/Frame-13403.png" alt="">
                        </a>
                    </div>   
                </div>
            </div>
            <div class="col col-lg-5 col-sm-12">
                <div class="title">
                    <span>hỗ trợ thanh toán</span>
                </div>
                <div class="content-image-2">
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/momo.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/card.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/payment-3.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/visa.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/paypal.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/master-card.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/cash.png" alt="">
                        </a>
                    </div>  
                </div>
            </div>
            <div class="col col-lg-5 offset-lg-2 col-sm-12 offset-sm-0">
                <div class="title">
                    <span>kết nối với PTH</span>
                </div>
                <div class="content-image-3">
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/facebook.png" alt="">
                        <a href="">
                            Facebook
                        </a>
                    </div>
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/telegram.png" alt="">
                        <a href="">
                            Telegram
                        </a>
                    </div>
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/linkedin.png" alt="">
                        <a href="">
                            Linkedin
                        </a>
                    </div>
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/instagram.png" alt="">
                        <a href="">
                            Instagram
                        </a>
                    </div>
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/zalo.png" alt="">
                        <a href="">
                            Zalo
                        </a>
                    </div>
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/youtube.png" alt="">
                        <a href="">
                            Youtube
                        </a>
                    </div>
                    <div class="item">
                        <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/twitter.png" alt="">
                        <a href="">
                            Twitter
                        </a>
                    </div> 
                    <div class="item">
                            <img src="https://vinahost.vn/cdn-cgi/image/format=webp/wp-content/uploads/2023/11/github.png " alt="">
                            <a href="">Github</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-3">
    <p>Bản quyền © 2024. Phòng Tin Học.</p>
</div>
