<div class="container">
    <div class="content">
        <div class="footer_one cut">
            <ul>
                <li class="title">
                    <span>Tải xuống nPerf :</span>
                </li>
                <li>
                    <a href="">
                        <div class="android"></div>
                        Android
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="apple"></div>
                        Apple
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="window"></div>
                        Window
                    </a>
                </li>
            </ul>
        </div>
        <!-- <div class="cut"></div> -->
        <div class="footer_two cut">
            <ul>
                <li>
                    <a href="">
                        Nói về chúng tôi
                    </a>
                </li>
                <li>
                    <a href="">
                        Nhấn
                    </a>
                </li>
               
            </ul>
        </div>
        <!-- <div class="cut"></div> -->
        <div class="footer_three cut">
            <ul>
                <li class="title">
                    <span>Sơ đồ trang web :</span>
                </li>
                <li>
                    <a href="">
                        Ứng dụng di động
                    </a>
                </li>
                <li>
                    <a href="">
                        Đo tốc độ web
                    </a>
                </li>
                <li>
                    <a href="">
                        Vùng phủ sóng
                    </a>
                </li>
                <li>
                    <a href="">
                        Tốc độ bit tải xuống
                    </a>
                </li>
                <li>
                    <a href="">
                        Thuê một máy chủ
                    </a>
                </li>
                <li>
                    <a href="">
                        Web plugin
                    </a>
                </li>
                <li>
                    <a href="">
                        nPerf Awards
                    </a>
                </li>
                <li>
                    <a href="">
                        Thông tin về chúng tôi
                    </a>
                </li>
            </ul>
        </div>
        <!-- <div class="cut"></div> -->
        <div class="footer_four">
            <ul>
                <li>
                    <a href="">
                        Liên hệ
                    </a>
                </li>
                <li>
                    <a href="">
                        Thông tin về chúng tôi
                    </a>
                </li>
                <li>
                    <a href="">
                        Thông báo pháp lý
                    </a>
                </li>
                <li>
                    <a href="">
                        Thỏa thuận cấp phép
                    </a>
                </li>
                <li>
                    <br>
                </li>
                <li>
                    <a href="">
                        © nPerf 2014-2024
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



 
