<div style="padding: 0;" class="container">
    <div class="menupro">
        <div class="logo">
            <img src="./assets/svg/new3.svg" alt="">
            <!-- <img src="../assets/images/CNTTDAV.png" alt="" style="width: 340px;"> -->
            <!-- <img style="width: 340px;" src="../assets/svg/Asset1.svg" alt=""> -->
            
        </div>
        <div class="content d-xl-none">
            <div class="left-flip">
                <div class="social">
                    <div class="facebook"></div>
                    <div class="twitter"></div>
                    <div class="youtube"></div>
                    <div class="mail"></div>
                </div>
                <div class="blog">
                    <img src="./assets/svg/94x94/1.svg" alt="">
                    <!-- <i class="fa-brands fa-rocketchat"></i> -->
                </div>
            </div>
            <div class="center-flip">
                <a class="flip-inner one" href="">
                    <div class="icon-flip">
                        <div class="icon-font">
                            <!-- <i class="fa-solid fa-book"></i> -->
                            <img src="./assets/svg/3.svg" alt="">
                        </div>
                        <div class="icon-back">
                            <img src="./assets/svg/3.svg" alt="">
                            <!-- <i class="fa-solid fa-book"></i> -->
                        </div>
                    </div>
                </a>
                <a class="flip-inner two" href="">
                    <div class="icon-flip">
                        <div class="icon-font">
                            <!-- <i class="fa-solid fa-computer"></i> -->
                            <img src="./assets/svg/1.svg" alt="">
                        </div>
                        <div class="icon-back">
                            <!-- <i class="fa-solid fa-computer"></i> -->
                            <img src="./assets/svg/1.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="flip-inner three" href="">
                    <div class="icon-flip">
                        <div class="icon-font">
                            <!-- <i class="fa-solid fa-mobile-screen-button"></i> -->
                            <img src="./assets/svg/6.svg" alt="">
                        </div>
                        <div class="icon-back">
                            <img src="./assets/svg/6.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="flip-inner four" href="">
                    <div class="icon-flip">
                        <div class="icon-font">
                            <!-- <i class="fa-brands fa-windows"></i> -->
                            <img src="./assets/svg/2.svg" alt="">
                        </div>
                        <div class="icon-back">
                            <!-- <i class="fa-brands fa-windows"></i> -->
                            <img src="./assets/svg/2.svg" alt="">
                        </div>
                    </div>
                </a>
                <a class="flip-inner five" href="">
                    <div class="icon-flip">
                        <div class="icon-font">
                            <!-- <i class="fa-brands fa-android"></i> -->
                            <img src="./assets/svg/4.svg" alt="">
                        </div>
                        <div class="icon-back">
                            <img src="./assets/svg/4.svg" alt="">
                            <!-- <i class="fa-brands fa-android"></i> -->
                        </div>
                    </div>
                </a>
                <a class="flip-inner six" href="">
                    <div class="icon-flip">
                        <div class="icon-font">
                            <!-- <i class="fa-brands fa-apple"></i> -->
                            <img src="./assets/svg/7.svg" alt="">
                        </div>
                        <div class="icon-back">
                            <img src="./assets/svg/7.svg" alt="">
                            <!-- <i class="fa-brands fa-apple"></i> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="right-flip">
                <div class="top">
                    <div class="top-3">
                        <div class="top-3_1">Tải xuống nPerf</div>
                        <div class="top-3_2">
                            <div class="top-3_2-item">
                                <!-- <i class="fa-solid fa-robot"></i> -->
                                <img src="./assets/svg/68x50/1.svg" alt="">
                                <span>Android</span>
                            </div>
                            <div class="top-3_2-item">
                                <!-- <i class="fa-solid fa-apple-whole"></i> -->
                                <img src="./assets/svg/68x50/2.svg" alt="">
                                <span>Iphone</span>
                            </div>
                        </div>
                    </div>
                    <div class="top-2">
                        <div class="top-2_item">VI</div>
                        <div class="top-2_item">Thông tin về</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-2">
                        <a class="bottom-hover" href="">
                            <div class="bottom-2_item">
                                <div class="icon-font">
                                    <!-- <i class="fa-solid fa-plug"></i> -->
                                    <img src="./assets/svg/66x94/2.svg" alt="">
                                </div>
                                <div class="icon-back">
                                    <img src="./assets/svg/66x94/2.svg" alt="">
                                    <!-- <i class="fa-solid fa-plug"></i> -->
                                </div>
                            </div>
                        </a>
                        <a class="bottom-hover" href="">
                            <div class="bottom-2_item">
                                <div class="icon-font">
                                    <!-- <i class="fa-solid fa-award"></i> -->
                                    <img src="./assets/svg/66x94/3.svg" alt="">
                                </div>
                                <div class="icon-back">
                                    <!-- <i class="fa-solid fa-award"></i> -->
                                    <img src="./assets/svg/66x94/4.svg" alt="">
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="bottom-1">
                        <!-- <div class="bottom-1_item"><i class="fa-solid fa-medal"></i></div> -->
                        <a class="bottom-hover" href="">
                            <div class="bottom-1_item">
                                <div class="icon-font">
                                    <img src="./assets/svg/82x94/2.svg" alt="">
                                    <!-- <i class="fa-solid fa-medal"></i> -->
                                </div>
                                <div class="icon-back">
                                    <!-- <i class="fa-solid fa-medal"></i> -->
                                    <img src="./assets/svg/82x94/2.svg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
