<div class="container header">
    <div class="menu">
        <div class="menu-3gach d-xxxl-none d-lg-block js-toggle" toggle-target="#navbar">
            <img class="" src="./assets/icons/3gach.svg" alt="">
        </div>
        <ul class="nav-list hide" id="navbar">
            <li class="nav-list__item d-xxxl-block d-lg-none">
                <a class="nav-list__link" href="">
                    <i class="fa-solid fa-house icon"></i>
                </a>
            </li>
            <li class="nav-list__item d-xxxl-none d-lg-block">
                <a class="nav-list__link" href="">
                    <i class="fa-solid fa-arrow-left icon"></i>
                </a>
            </li>
            
            <li class="nav-list__item"><a class="nav-list__link" href="">WEBSITE</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">MÁY CHỦ</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">ĐỊA CHỈ IP</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">CLOUD</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">ALIBABA CLOUD</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">VPS</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">CDN</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">HOSTING</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">EMAIL</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">TÊN MIỀN</a></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">SSL</a></li></li>
            <li class="nav-list__item"><a class="nav-list__link" href="">DỊCH VỤ KHÁC</a></li>
        </ul>
        <div class="overlay"></div>
        <div>
            <i class="fa-solid fa-magnifying-glass icon"></i>
        </div>
    </div>
</div>