<header id="header-edu">
    <div class="container-fluid container-header">
        <div class="left">
            <img src="../assets/svg/new1exam.svg" alt="">
        </div>
        <div class="center">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
            <!-- <div class="search-box">
                <div class="box-search">
                    <input type="text" class="input-box" placeholder="Search any thing" autocomplete="off">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <ul class="result-box">
                    <li>
                        JS
                    </li>
                    <li>
                        PHP
                    </li>
                    <li>
                        JS
                    </li>
                    <li>
                        PHP
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="right">
            <button class="button-edu">
                <img src="../assets/svg/create-exam.svg" alt="">
                Thêm câu hỏi
            </button>
            <div class="profile" id="profile">
                <h3>Đỗ Đức Huy<br><span>Chuyên viên</span></h3>
                <div class="imgBx">
                    <img src="../assets/images/unnamed.jpg" alt="">
                </div>
                
                    <ul class="menu" id="menu">
                        <li><a href="#">
                            <ion-icon name="person-outline"></ion-icon>Profile
                        </a></li>
                        <li><a href="#">
                            <ion-icon name="chatbubble-outline"></ion-icon>Inbox
                        </a></li>
                        <li><a href="#">
                            <ion-icon name="settings-outline"></ion-icon>Settings
                        </a></li>
                        <li><a href="#">
                            <ion-icon name="help-circle-outline"></ion-icon>Help
                        </a></li>
                        <li><a href="#">
                            <ion-icon name="log-out-outline"></ion-icon>Profile
                        </a></li>
                    </ul>
                
            </div>
        </div>
    </div>
</header>
