<div class="single-top-meta">
    <div class="container">
        <div class="single-top-meta__title">
            <h1>
                [2024] Cách cài đặt và sử dụng VPN kết nối đến phần mềm QLĐT
            </h1>
            <div class="text-center">
                <span>
                    <i class="fa-regular fa-calendar"></i>
                    Ngày đăng: 26/12/2023
                </span>
                <span>
                    <i class="fa-regular fa-calendar"></i>
                    Cập nhật: 26/12/2023
                </span>
                <span>
                    <i class="fa-solid fa-eye"></i>
                    1000 lượt xem
                </span>
                <span>
                    <i class="fa-solid fa-user"></i>
                    Ngô Anh Phong
                </span>
            </div>     
        </div>
    </div>
</div>