
<div class="slideshow-inner">
    <div class="container" style="height: 100%;">
        <div class="slider-content reveal">
            <div class="slider-title">
                <img src="./assets/images/wifi.png" alt="">
                <h1>Ứng dụng Công nghệ Thông Tin DAV</h1>
            </div>
            <div class="slider-bottom">
                <p>Cung cấp các kiến thức thú vị về Công nghệ Thông tin, TTTH tin rằng đây là trang chia sẻ kiến thức bổ ích tới các bộ và sinh viên</p>
            </div>
        </div>
    </div>    
</div>