/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1999.98px) {
  .row-cols-xxxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxxl-0 {
    margin-left: 0;
  }
  .offset-xxxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxxl-3 {
    margin-left: 25%;
  }
  .offset-xxxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxxl-6 {
    margin-left: 50%;
  }
  .offset-xxxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxxl-9 {
    margin-left: 75%;
  }
  .offset-xxxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxxl-0,
  .gx-xxxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxxl-0,
  .gy-xxxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxxl-1,
  .gx-xxxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxxl-1,
  .gy-xxxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxxl-2,
  .gx-xxxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxxl-2,
  .gy-xxxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxxl-3,
  .gx-xxxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxxl-3,
  .gy-xxxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxxl-4,
  .gx-xxxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxxl-4,
  .gy-xxxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxxl-5,
  .gx-xxxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxxl-5,
  .gy-xxxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1999.98px) {
  .d-xxxl-block {
    display: block !important;
  }
  .d-xxxl-flex {
    display: flex !important;
  }
  .d-xxxl-grid {
    display: grid !important;
  }
  .d-xxxl-none {
    display: none !important;
  }
}
@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
header {
  background: linear-gradient(90deg, #FEB343 0%, #F15726 49.48%, #EC4532 100%);
  height: 58px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.container.header {
  height: 100%;
}

.icon {
  color: white;
}
@media (max-width: 991.98px) {
  .icon {
    font-size: 2rem;
  }
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .menu {
    justify-content: space-between;
  }
}

.nav-list {
  display: flex;
  gap: 30px;
}
.nav-list__link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
@media (max-width: 1199.98px) {
  .nav-list {
    padding: 20px;
    position: fixed;
    z-index: 10;
    inset: 0 60% 0 0;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(90deg, #FEB343 0%, #F15726 49.48%, #EC4532 100%);
    translate: -100%;
    transition: linear 0.3s;
  }
  .nav-list.show {
    translate: 0;
  }
  .nav-list.show ~ .overlay {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.overlay {
  position: fixed;
  z-index: 1;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  transition: linear 0.3s;
}

footer {
  margin-top: 60px;
  background: linear-gradient(90deg, #FEB343 0%, #F15726 49.48%, #EC4532 100%);
  border-top: 9px solid #FEAE45;
}
@media (max-width: 575.98px) {
  footer {
    background: linear-gradient(90deg, #FEB343 0%, #F15726 100%, #EC4532 100%);
  }
}

.footer-1 {
  margin-bottom: 35px;
}
.footer-1 .title {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
  margin-bottom: 12px;
}
.footer-1 .content p {
  text-transform: capitalize;
  font-size: 17px;
  color: white;
  font-weight: 300;
  line-height: 1.4;
}
.footer-1 .content p a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.footer-1 .content p a:hover {
  padding-left: 7px;
}

.footer-2 {
  margin-bottom: 35px;
}
.footer-2 .title {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
  margin-bottom: 12px;
}
.footer-2 .content-image-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 991.98px) {
  .footer-2 .content-image-1 {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
.footer-2 .content-image-1 img {
  max-width: 100%;
}
.footer-2 .content-image-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
}
.footer-2 .content-image-2 img {
  max-width: 100%;
}
.footer-2 .content-image-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.footer-2 .content-image-3 .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-2 .content-image-3 img {
  max-width: 100%;
}
.footer-2 .content-image-3 a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.footer-3 {
  padding: 10px 0;
  border-top: 1px solid white;
}
.footer-3 p {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.single-top-meta {
  width: 100%;
  padding: 80px 0;
  background: #feb343;
  margin-top: 59px;
}
@media (max-width: 991.98px) {
  .single-top-meta {
    padding: 40px 0;
  }
}

.single-top-meta__title {
  text-align: center;
}
.single-top-meta__title h1 {
  color: white;
  text-transform: capitalize;
  font-size: 4.5rem;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 0 100px;
}
@media (max-width: 991.98px) {
  .single-top-meta__title h1 {
    font-size: 3.6rem;
    padding: 0;
  }
}
.single-top-meta__title .text-center span {
  color: white;
  font-size: 1.5rem;
  padding: 0 15px;
}
@media (max-width: 575.98px) {
  .single-top-meta__title .text-center span {
    font-size: 1.3rem;
  }
}
.single-top-meta__title .text-center span:not(span:nth-child(1)) {
  border-left: 1px solid white;
}
@media (max-width: 767.98px) {
  .single-top-meta__title .text-center {
    line-height: 1.4;
  }
}
@media (max-width: 991.98px) {
  .single-top-meta__title .text-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .single-top-meta__title .text-center span:not(span:nth-child(1)) {
    border-left: none;
  }
}

.breadcrumb {
  padding-top: 30px;
}

.breadcrumb__text {
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .breadcrumb__text {
    line-height: 1.5;
  }
}
.breadcrumb__text a {
  text-decoration: none;
  color: #FF6D00;
  text-transform: uppercase;
}
.breadcrumb__text .sperator {
  padding: 0 3px;
}
.breadcrumb__text-title {
  text-transform: capitalize;
}

.blog-list {
  padding-top: 30px;
}
.blog-list .blog-list__top a {
  text-decoration: none;
}
.blog-list .blog-list__top a .blog-list__top-image {
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}
.blog-list .blog-list__top a .blog-list__top-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  transform: scale(1);
}
.blog-list .blog-list__top a .blog-list__top-title {
  background-color: #F37032;
  color: white;
  padding: 15px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blog-list .blog-list__top a .blog-list__top-title h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .blog-list .blog-list__top a .blog-list__top-title h2 {
    margin-bottom: 10px;
  }
}
.blog-list .blog-list__top a .blog-list__top-title p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.3;
}
@media (max-width: 1199.98px) {
  .blog-list .blog-list__top a .blog-list__top-title p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.blog-list .blog-list__top:hover .blog-list__top-image img {
  transform: scale(1.05);
}
.blog-list .box {
  padding: 20px 0;
  border-bottom: 1px solid silver;
  display: flex;
  gap: 10px;
}
.blog-list .box .box-image {
  flex: 1;
  padding-top: 20%;
  position: relative;
  overflow: hidden;
}
.blog-list .box .box-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  transform: scale(1);
}
.blog-list .box .box-text {
  flex: 2;
}
.blog-list .box .box-text h2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.4;
  transition: all 0.3s;
}
@media (max-width: 575.98px) {
  .blog-list .box .box-text h2 a {
    font-size: 1.6rem;
  }
}
@media (max-width: 767.98px) {
  .blog-list .box .box-text h2 a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.blog-list .box .box-text h2:hover a {
  color: #F37032;
}
.blog-list .box .box-text .time {
  font-size: 1.5rem;
  font-style: italic;
  margin: 5px 0 10px 0;
}
.blog-list .box .box-text p {
  font-size: 1.5rem;
  color: #7f7f82;
  text-align: justify;
  line-height: 1.3;
}
@media (max-width: 767.98px) {
  .blog-list .box .box-text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.blog-list .box-image:hover img {
  transform: scale(1.1);
}
.blog-list .box:last-of-type {
  border-bottom: none;
}

.blog-details .content {
  margin-top: 30px;
}
.blog-details .content h4 {
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.2rem;
}
.blog-details .content h5 {
  font-weight: 700;
  font-size: 2rem;
}
.blog-details .content p {
  line-height: 2.4rem;
  font-weight: 400;
  text-align: justify;
}
.blog-details .content .content-image {
  text-align: center;
}
.blog-details .content .content-image img {
  display: inline-block;
}
.blog-details .content ul {
  list-style-type: disc;
  padding-left: 50px;
}
.blog-details .content .center {
  text-align: center;
}
.blog-details .content .fi {
  font-style: italic;
}
.blog-details .modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding-top: 25vh;
}
.blog-details .modal .close {
  position: absolute;
  top: 60px;
  right: 30px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.blog-details .modal .modal-content {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.sidebar-blog-list {
  box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 991.98px) {
  .sidebar-blog-list {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.sidebar-blog-list .widget-title {
  display: block;
  font-size: 1.6rem;
  text-transform: unset;
  letter-spacing: 0;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 1.3;
  background: linear-gradient(90deg, #EC4532 0%, #F15726 49.48%, #FEB343 100%);
  color: white;
  padding: 8px 10px;
}
.sidebar-blog-list .box-sidebar {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.sidebar-blog-list .box-sidebar .box-image {
  flex: 1;
  padding-top: 10%;
  position: relative;
  overflow: hidden;
}
.sidebar-blog-list .box-sidebar .box-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  transform: scale(1);
}
.sidebar-blog-list .box-sidebar .box-text {
  flex: 2;
}
.sidebar-blog-list .box-sidebar .box-text h5 a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sidebar-blog-list .box-sidebar .box-text .time {
  font-size: 1.2rem;
  font-style: italic;
  margin: 5px 0 5px 0;
}
.sidebar-blog-list .box-sidebar .box-text p {
  font-size: 1.2rem;
  color: #7f7f82;
  text-align: justify;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sidebar-blog-details {
  box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 991.98px) {
  .sidebar-blog-details {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.sidebar-blog-details .widget-title {
  text-align: center;
  display: block;
  font-size: 1.6rem;
  text-transform: unset;
  letter-spacing: 0;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 1.3;
  background: linear-gradient(90deg, #EC4532 0%, #F15726 49.48%, #FEB343 100%);
  color: white;
  padding: 8px 10px;
}
.sidebar-blog-details .box-sidebar {
  padding: 10px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid silver;
}
.sidebar-blog-details .box-sidebar .box-image {
  flex: 1;
  padding-top: 10%;
  position: relative;
  overflow: hidden;
}
.sidebar-blog-details .box-sidebar .box-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  transform: scale(1);
}
.sidebar-blog-details .box-sidebar .box-text {
  flex: 2;
}
@media (max-width: 991.98px) {
  .sidebar-blog-details .box-sidebar .box-text {
    flex: 3;
  }
}
.sidebar-blog-details .box-sidebar .box-text h5 a {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.pagination {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.pagination a {
  text-decoration: none;
}
.pagination .page-number {
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: #f1f1f1;
  font-weight: 500;
}
.pagination li:hover .page-number {
  color: white;
  background-color: #feae45;
}

.blog-author {
  padding: 20px;
  border: 1px solid #d9e1ee;
  border-radius: 6px;
  margin: 30px 0;
}
.blog-author .info-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .blog-author .info-1 {
    flex-direction: column;
    gap: 10px;
  }
}
.blog-author .info-1 .info-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .blog-author .info-1 .info-left {
    flex-direction: column;
    gap: 10px;
  }
}
.blog-author .info-1 .info-left img {
  border-radius: 50%;
}
.blog-author .info-1 .info-left span {
  font-size: 1.8rem;
  font-weight: 700;
}
.blog-author .info-1 .info-right span {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 10px;
}
@media (max-width: 767.98px) {
  .blog-author .info-1 .info-right span {
    display: none;
  }
}
.blog-author .info-1 .info-right a {
  display: inline-block;
  color: #F37032;
  margin: 0 4px;
  background-color: #f5f7f8;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  line-height: 2.4rem;
  text-align: center;
}
.blog-author .info-1 .info-right a:hover {
  color: white;
  background-color: #F37032;
}
.blog-author .info-2 {
  display: flex;
}
@media (max-width: 767.98px) {
  .blog-author .info-2 {
    flex-direction: column;
  }
}
.blog-author .info-2 .quote-left {
  max-width: 10.653%;
  flex-basis: 10.653%;
  text-align: center;
  padding-top: 5px;
}
@media (max-width: 767.98px) {
  .blog-author .info-2 .quote-left {
    text-align: left;
  }
}
.blog-author .info-2 .quote-center {
  max-width: 82.793%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
@media (max-width: 767.98px) {
  .blog-author .info-2 .quote-center {
    max-width: 100%;
  }
}
.blog-author .info-2 .quote-right {
  max-width: 6.22%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767.98px) {
  .blog-author .info-2 .quote-right {
    display: block;
    max-width: 100%;
    text-align: right;
  }
}

.blog-related .title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 20px 0;
}
.blog-related .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 767.98px) {
  .blog-related .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.blog-related .content .item {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.blog-related .content .item a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}
.blog-related .content .item a .item-image {
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.blog-related .content .item a .item-image img {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.blog-related .content .item a .item-image:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.blog-related .content .item a .item-content {
  padding: 15px 15px 10px;
}
.blog-related .content .item a .item-content:hover {
  color: #F37032;
}

.post-share-rating {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 767.98px) {
  .post-share-rating {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.post-share-rating .share span {
  font-size: 1.5rem;
  padding-right: 2px;
}
.post-share-rating .share a {
  text-decoration: none;
}
.post-share-rating .share .facebook {
  font-size: 1.5rem;
  display: inline-block;
  color: white;
  margin: 0 2px;
  background-color: #3a589d !important;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 3rem;
  text-align: center;
}
.post-share-rating .share .facebook:hover {
  background-color: #2E467E !important;
}
.post-share-rating .share .twitter {
  font-size: 1.5rem;
  display: inline-block;
  background-color: #2478ba !important;
  color: white;
  margin: 0 2px;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 3rem;
  text-align: center;
}
.post-share-rating .share .twitter:hover {
  background-color: #1D6095 !important;
}
.post-share-rating .share .pinterest {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 2px;
  background-color: #cb2320 !important;
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 3rem;
  text-align: center;
}
.post-share-rating .share .pinterest:hover {
  background-color: #A21C1A !important;
}
.post-share-rating .share .linkedin {
  font-size: 1.5rem;
  margin: 0 2px;
  display: inline-block;
  background-color: #0072b7 !important;
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 3rem;
  text-align: center;
}
.post-share-rating .share .linkedin:hover {
  background-color: #005B92 !important;
}
.post-share-rating .rating {
  display: flex;
  gap: 5px;
  line-height: 2.5rem;
}
.post-share-rating .rating span:first-of-type {
  font-weight: 500;
}
.post-share-rating .rating ul {
  display: flex;
}
.post-share-rating .rating ul li {
  cursor: pointer;
  font-size: 2.5rem;
}
.post-share-rating .rating span:last-of-type {
  font-size: 14px !important;
  color: #3c4859;
}

#headerpro {
  padding: 25px;
}
#headerpro .menupro {
  display: flex;
  height: 188px;
  align-items: center;
}
#headerpro .menupro .logo {
  flex: 1;
  background-color: white;
}
#headerpro .menupro .logo img {
  display: block;
  max-width: 300px;
  max-height: 100%;
}
#headerpro .menupro .content {
  flex: 2;
  display: flex;
  height: 100%;
}
#headerpro .menupro .content .left-flip {
  width: 94px;
  height: 100%;
}
#headerpro .menupro .content .left-flip .social {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#headerpro .menupro .content .left-flip .social .facebook {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/facebook.png) 0 0 no-repeat;
  transition: 0.2s linear;
}
#headerpro .menupro .content .left-flip .social .facebook:hover {
  background: url(../../assets/images/facebook.png) 0 -47px no-repeat;
}
#headerpro .menupro .content .left-flip .social .twitter {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/tweeter.png) 0 0 no-repeat;
  transition: 0.2s linear;
}
#headerpro .menupro .content .left-flip .social .twitter:hover {
  background: url(../../assets/images/tweeter.png) 0 -47px no-repeat;
}
#headerpro .menupro .content .left-flip .social .youtube {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/youTube.png) 0 0 no-repeat;
  transition: 0.2s linear;
}
#headerpro .menupro .content .left-flip .social .youtube:hover {
  background: url(../../assets/images/youTube.png) 0 -47px no-repeat;
}
#headerpro .menupro .content .left-flip .social .mail {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/contactUs.png) 0 0 no-repeat;
  transition: 0.2s linear;
}
#headerpro .menupro .content .left-flip .social .mail:hover {
  background: url(../../assets/images/contactUs.png) 0 -47px no-repeat;
}
#headerpro .menupro .content .left-flip .blog {
  height: 50%;
  background-color: orange;
}
#headerpro .menupro .content .center-flip {
  flex: 2;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#headerpro .menupro .content .center-flip .flip-inner {
  display: block;
  flex: 1;
  height: 100%;
  perspective: 800px;
}
#headerpro .menupro .content .center-flip .flip-inner .icon-flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s;
  transform-style: preserve-3d;
}
#headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-font, #headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-back {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
#headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-font i, #headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-back i {
  font-size: 25px;
}
#headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-font span, #headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-back span {
  font-size: 1.5rem;
}
#headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-font {
  background-color: #232323;
  color: white;
}
#headerpro .menupro .content .center-flip .flip-inner .icon-flip .icon-back {
  background-color: #0c66aa;
  color: white;
  transform: rotateY(180deg);
}
#headerpro .menupro .content .center-flip .flip-inner:hover .icon-flip {
  transform: rotateY(180deg);
}
#headerpro .menupro .content .right-flip {
  flex: 1;
  height: 100%;
  background-color: #0c66aa;
}

/*# sourceMappingURL=main.css.map */
