#content-edu{
    // position: fixed;
    margin-top: 83px;
    display: flex;
    position: relative;
    .left-content{
        // position: sticky;
        position: fixed;
        // top: 83px;
        // height: calc(100vh - 83px);
        height: 100vh;
        width: 96px;
        padding: 8px 8px;
        background-color: #fff;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        ul{
            list-style: none;
            li{
                // margin-bottom: 20px;
                a{
                    width: 72px;
                    height: 72px;
                    // color: #1a1a1a;
                    color: #404040;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 16px ;
                    cursor: pointer;
                    .fa-solid{
                        font-size: 18px;
                    }
                    span{
                        font-size: 1.1rem;
                        margin-top: 8px;
                        
                    }
                }
                a.active{
                    color: #1a1a1a;
                    background: #e8ebed;
                }
            }
        }
    }
    .right-content{
        margin-left: 135px;
        margin-top: 45px;
        .container-section{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .section-list{
                width: 100%;
                background-color: #fff;
                color: rgb(17, 24, 39);
                box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
                overflow: hidden;
                border-radius: 16px;
                .section-item{
                    padding: 24px;
                    .section-item-header{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span{
                            color: rgb(17, 24, 39);
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                    .section-item-content{
                        height: 100%;
                        .card-container{
                            display: flex;
                            gap: 20px;
                            padding: 20px 0;
                            overflow: scroll;
                            .card-item {
                                background-color: #fff;
                                border-radius: 0.5rem;
                                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                                padding: 1rem;
                                min-width: 300px;
                                max-width: 300px;
                                border: 1px solid #d1d5db;
                                border-radius: 16px;
                            
                                .image-container {
                                    border-radius: 16px;
                                    position: relative;
                                    height: 16rem;
                                    overflow: hidden;
                                    
                                    .quiz-image {
                                        position: absolute;
                                        min-width: 100%;
                                        max-width: 100%;
                                        min-height: 100%;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            
                                .quiz-info {
                                    margin-top: 2rem;
                                    h2 {
                                        font-weight: 600;
                                    }
                            
                                    .author-date {
                                        display: flex;
                                        align-items: center;
                                        margin: 2rem 0 ;
                                        justify-content: space-between;
                            
                                        .author {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.5rem;
                            
                                            .author-icon {
                                                background-color: #3b82f6;
                                                border-radius: 50%;
                                                height: 2rem;
                                                width: 2rem;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                            
                                                span {
                                                    color: #fff;
                                                }
                                            }
                            
                                            .author-name {
                                                // font-size: 0.875rem;
                                            }
                                        }
                            
                                        .date {
                                            p {
                                                // font-size: 0.875rem;
                                            }
                                        }
                                    }
                            
                                    .quiz-stats {
                                        display: flex;
                                        gap: 2rem;
                                        margin: 2rem 0;
                            
                                        .stat-item {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.25rem;
                            
                                            i {
                                                &.fa-question-circle {
                                                    color: #f97316;
                                                }
                                                &.fa-chart-bar {
                                                    color: #10b981;
                                                }
                                                &.fa-thumbs-up {
                                                    color: #3b82f6;
                                                }
                                                &.fa-arrow-down {
                                                    color: #10b981;
                                                }
                                                &.fa-download {
                                                    color: #10b981;
                                                }
                                            }
                                        }
                                    }
                            
                                    .quiz-tags {
                                        display: flex;
                                        gap: 1rem;
                                        margin: 15px 0;
                            
                                        .tag {
                                            background-color: #e5e7eb;
                                            border-radius: 9999px;
                                            padding: 0.8rem 0.8rem;
                                            overflow: hidden;
                                            // font-size: 0.75rem;
                                        }
                                    }
                            
                                    .start-btn {
                                        outline: none;
                                        border: none;
                                        background-color: #3b82f6;
                                        color: #fff;
                                        border-radius: 9999px;
                                        padding: 0.5rem 1rem;
                                        margin-top: 1rem;
                                        cursor: pointer;
                            
                                        &:hover {
                                            background-color: #2563eb;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    } 
}

.container-details{
    .card-item-detail {
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
        padding: 2rem;
        border-radius: 16px;
    
        .image-container {
            border-radius: 16px;
            position: relative;
            height: 18rem;
            overflow: hidden;
            
            .quiz-image {
                position: absolute;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    
        .quiz-info {
            margin-top: 2rem;
            h2 {
                font-weight: 600;
            }
    
            .author-date {
                display: flex;
                align-items: center;
                margin: 2rem 0 ;
                justify-content: space-between;
    
                .author {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
    
                    .author-icon {
                        background-color: #3b82f6;
                        border-radius: 50%;
                        height: 2rem;
                        width: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        span {
                            color: #fff;
                        }
                    }
    
                    .author-name {
                        // font-size: 0.875rem;
                    }
                }
    
                .date {
                    p {
                        // font-size: 0.875rem;
                    }
                }
            }
    
            .quiz-stats {
                display: flex;
                gap: 2rem;
                margin: 2rem 0;
    
                .stat-item {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
    
                    i {
                        &.fa-question-circle {
                            color: #f97316;
                        }
                        &.fa-chart-bar {
                            color: #10b981;
                        }
                        &.fa-thumbs-up {
                            color: #3b82f6;
                        }
                        &.fa-arrow-down {
                            color: #10b981;
                        }
                        &.fa-download {
                            color: #10b981;
                        }
                    }
                }
            }
    
            .quiz-tags {
                display: flex;
                gap: 1rem;
                margin: 15px 0;
    
                .tag {
                    background-color: #e5e7eb;
                    border-radius: 9999px;
                    padding: 0.8rem 0.8rem;
                    overflow: hidden;
                    // font-size: 0.75rem;
                }
            }
    
            .start-btn {
                outline: none;
                border: none;
                background-color: #3b82f6;
                color: #fff;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
    
                &:hover {
                    background-color: #2563eb;
                }
            }
        }
    }

    .quiz-detail{
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
        padding: 0 2rem 2rem 2rem;
        border-radius: 16px;
        // min-height: 500px;
        // height: calc(min(500px, 100vh - 175px));
        // overflow-y: auto; // Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao
    }
    
    
}
