.container-edu-list-exam{
    flex: 1;
    overflow-y: hidden;
    background-color: rgb(249 250 251);
    gap: 20px;
    padding: 20px 30px 30px 30px;
    .toolbar-des {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      padding-bottom: 20px;
      padding-top: 10px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      .option-left{
        display: flex;
        align-items: center;
        gap: 45px;
        .radio-item{
            label{
                padding: 8px;
                .custom-radio{
                    border-width: 2px;
                    height: 20px;
                    width: 20px;
                }
                .toolbar-total{
                  .title-total{
                 
                    color: #6B7280 ;
                  }
                  .result-total{
                   
                    color: #000000;
                  }
                }
              
            }
            input[type="radio"]:checked + label {
                background-color: aliceblue;
            }
        }
      }
      .new-btn {
        background: linear-gradient(to right bottom, rgb(10, 143, 220), rgb(0, 102, 204));
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        i {
          margin-right: 8px;
        }
      }
      .options {
        display: flex;
        gap: 20px;
        span {
          cursor: pointer;
          color: #555;
          display: flex;
          align-items: center;
    
          i {
            margin-right: 5px;
          }
        }
      }
      .selection-info {
          color: #555;
          display: flex;
          align-items: center;
    
        span {
          margin-left: 10px;
          display: flex;
          align-items: center;
          gap: 5px;
          i {
            margin-left: 5px;
          }
        }
    
        span:first-child {
          font-weight: bold;
        }
      }
    }
    @media (max-width: 768px) {
      .breadcrumb-pro{
        // margin-bottom: 10px;
        width: 100%;
        padding: 18px;
        position: fixed;
        top: 67px;
        background-color: rgb(249 250 251);
        z-index: 991;
      }
      .toolbar-des{
        width: 100%;
        padding: 15px;
        position: fixed;
        top: 110px;
        background-color: rgb(249 250 251);
        z-index: 991;
        flex-wrap: wrap;
        gap: 15px;
        .option-left{
          flex-wrap: wrap;
          gap: 8px !important;
          .radio-item{
            label{
                .custom-radio{
                    border-width: 2px;
                    height: 18px;
                    width: 18px;
                }
            }
          }
        }
        
      }
    }         
}


.container-edu-list-exam{
  /* XS (extra small) dưới 576px */

  @media (max-width: 575.98px) {
      padding-top: 10px;
      overflow-y: auto;
      
      
  }

  /* SM (small) từ 576px đến 767px */
  @media (min-width: 576px) and (max-width: 767.98px) {
    padding-top: 10px;
      width: 540px;
      overflow-y: auto;

      
  }

  /* MD (medium) từ 768px đến 991px */
  @media (min-width: 768px) and (max-width: 991.98px) {
      width: 720px;
      .toolbar-des{
        flex-wrap: wrap;
        gap: 15px;
        .option-left{
          flex-wrap: wrap;
          gap: 8px !important;
        }
      }
      
      
  }

  /* LG (large) từ 992px đến 1199px */
  @media (min-width: 992px) and (max-width: 1199.98px) {
      width: 960px;
      
  }

  /* XL (extra large) từ 1200px đến 1399px */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
      width: 1140px;
      
  }

  /* XXL (extra extra large) từ 1400px đến 1569px */
  @media (min-width: 1400px) and (max-width: 1669.98px) {
      width: 1320px;
     
  }

  /* XXXL (extra extra extra large) từ 1570px trở lên */
  @media (min-width: 1670px) {
      width: 1670px;
  }
}


  