#content-edu{
    // position: fixed;
    margin-top: 83px;
    display: flex;
    position: relative;
    .left-content{
        // position: sticky;
        position: fixed;
        // top: 83px;
        // height: calc(100vh - 83px);
        height: 100vh;
        width: 96px;
        padding: 8px 8px;
        background-color: #fff;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        ul{
            list-style: none;
            li{
                // margin-bottom: 20px;
                a{
                    width: 72px;
                    height: 72px;
                    // color: #1a1a1a;
                    color: #404040;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 16px ;
                    cursor: pointer;
                    .fa-solid{
                        font-size: 18px;
                    }
                    span{
                        font-size: 1.1rem;
                        margin-top: 8px;
                        
                    }
                }
                a.active{
                    color: #1a1a1a;
                    background: #e8ebed;
                }
            }
        }
    }
    .right-content{
        // margin-left: 135px;
        // margin-top: 45px;
        width: calc(100% - 96px);
        margin-left: 96px;
        .container-section{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .section-list{
                width: 100%;
                background-color: #fff;
                color: rgb(17, 24, 39);
                box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
                overflow: hidden;
                border-radius: 16px;
                .section-item{
                    padding: 24px;
                    .section-item-header{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span{
                            color: rgb(17, 24, 39);
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                    .section-item-content{
                        height: 100%;
                        .card-container{
                            display: flex;
                            gap: 20px;
                            padding: 20px 0;
                            overflow: scroll;
                            .card-item {
                                background-color: #fff;
                                border-radius: 0.5rem;
                                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                                padding: 1rem;
                                min-width: 300px;
                                max-width: 300px;
                                border: 1px solid #d1d5db;
                                border-radius: 16px;
                            
                                .image-container {
                                    border-radius: 16px;
                                    position: relative;
                                    height: 16rem;
                                    overflow: hidden;
                                    
                                    .quiz-image {
                                        position: absolute;
                                        min-width: 100%;
                                        max-width: 100%;
                                        min-height: 100%;
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            
                                .quiz-info {
                                    margin-top: 2rem;
                                    h2 {
                                        font-weight: 600;
                                    }
                            
                                    .author-date {
                                        display: flex;
                                        align-items: center;
                                        margin: 2rem 0 ;
                                        justify-content: space-between;
                            
                                        .author {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.5rem;
                            
                                            .author-icon {
                                                background-color: #3b82f6;
                                                border-radius: 50%;
                                                height: 2rem;
                                                width: 2rem;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                            
                                                span {
                                                    color: #fff;
                                                }
                                            }
                            
                                            .author-name {
                                                // font-size: 0.875rem;
                                            }
                                        }
                            
                                        .date {
                                            p {
                                                // font-size: 0.875rem;
                                            }
                                        }
                                    }
                            
                                    .quiz-stats {
                                        display: flex;
                                        gap: 2rem;
                                        margin: 2rem 0;
                            
                                        .stat-item {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.25rem;
                            
                                            i {
                                                &.fa-question-circle {
                                                    color: #f97316;
                                                }
                                                &.fa-chart-bar {
                                                    color: #10b981;
                                                }
                                                &.fa-thumbs-up {
                                                    color: #3b82f6;
                                                }
                                                &.fa-arrow-down {
                                                    color: #10b981;
                                                }
                                                &.fa-download {
                                                    color: #10b981;
                                                }
                                            }
                                        }
                                    }
                            
                                    .quiz-tags {
                                        display: flex;
                                        gap: 1rem;
                                        margin: 15px 0;
                            
                                        .tag {
                                            background-color: #e5e7eb;
                                            border-radius: 9999px;
                                            padding: 0.8rem 0.8rem;
                                            overflow: hidden;
                                            // font-size: 0.75rem;
                                        }
                                    }
                            
                                    .start-btn {
                                        outline: none;
                                        border: none;
                                        background-color: #3b82f6;
                                        color: #fff;
                                        border-radius: 9999px;
                                        padding: 0.5rem 1rem;
                                        margin-top: 1rem;
                                        cursor: pointer;
                            
                                        &:hover {
                                            background-color: #2563eb;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    } 
}

.container-details{
    .card-item-detail {
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
        padding: 2rem;
        border-radius: 16px;
    
        .image-container {
            border-radius: 16px;
            position: relative;
            height: 18rem;
            overflow: hidden;
            
            .quiz-image {
                position: absolute;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    
        .quiz-info {
            margin-top: 2rem;
            h2 {
                font-weight: 600;
            }
    
            .author-date {
                display: flex;
                align-items: center;
                margin: 2rem 0 ;
                justify-content: space-between;
    
                .author {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
    
                    .author-icon {
                        background-color: #3b82f6;
                        border-radius: 50%;
                        height: 2rem;
                        width: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        span {
                            color: #fff;
                        }
                    }
    
                    .author-name {
                        // font-size: 0.875rem;
                    }
                }
    
                .date {
                    p {
                        // font-size: 0.875rem;
                    }
                }
            }
    
            .quiz-stats {
                display: flex;
                gap: 2rem;
                margin: 2rem 0;
    
                .stat-item {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
    
                    i {
                        &.fa-question-circle {
                            color: #f97316;
                        }
                        &.fa-chart-bar {
                            color: #10b981;
                        }
                        &.fa-thumbs-up {
                            color: #3b82f6;
                        }
                        &.fa-arrow-down {
                            color: #10b981;
                        }
                        &.fa-download {
                            color: #10b981;
                        }
                    }
                }
            }
    
            .quiz-tags {
                display: flex;
                gap: 1rem;
                margin: 15px 0;
    
                .tag {
                    background-color: #e5e7eb;
                    border-radius: 9999px;
                    padding: 0.8rem 0.8rem;
                    overflow: hidden;
                    // font-size: 0.75rem;
                }
            }
    
            .start-btn {
                outline: none;
                border: none;
                background-color: #3b82f6;
                color: #fff;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                cursor: pointer;
    
                &:hover {
                    background-color: #2563eb;
                }
            }
        }
    }

    .quiz-detail{
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
        padding: 0 2rem 2rem 2rem;
        border-radius: 16px;
        // min-height: 500px;
        // height: calc(min(500px, 100vh - 175px));
        // overflow-y: auto; // Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao
    }  
}


.container-exams{
    margin-top: 40px;
    .quiz-management {
        padding: 20px;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            input[type="text"] {
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            .filter-options {
                display: flex;
                align-items: center;
    
                input[type="radio"] {
                    margin-right: 5px;
                }
    
                label {
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
    
            .add-new {
                padding: 10px 20px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
    
                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    
        .table{
            overflow-x: auto;
            .quiz-table {
                border-collapse: separate;
                border-spacing: 0;
                table-layout: fixed;
                padding-bottom: 10px;
                
                display: block;
        
                th, td {
                    padding: 10px;
                    border: 1px solid #bbb;
                    border-bottom: none;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                th{
                    border-bottom: none;
                    background-color: rgb(244, 247, 254);

                }
    
                /* Áp dụng CSS cho tất cả các th và td, trừ các cột từ 1 đến 3 */
                // th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)),
                // td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
                //     border-right: none;
                // }

                th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:last-child),
                td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:last-child) {
                    border-right: none;
                }
                
                th.fixed-column, td.fixed-column {
                    position: sticky;
                    z-index: 2;
                    background-color: #fff;
                }
        
                th.fixed-column {
                    top: 0;
                    z-index: 3;
                    background-color: rgb(244, 247, 254);
                }
        
                /* Cột ID */
                .fixed-column:nth-child(1) {
                    left: 0;
                    // width: 50px;
                    min-width: 50px;
                    border-right: none; /* Không có viền phải cho cột này */
                    
                }
        
                /* Cột Ảnh đại diện */
                .fixed-column:nth-child(2) {
                    left: 60px;
                    width: 100px;
                    min-width: 100px;
                    border-right: none; /* Không có viền phải cho cột này */
                }
        
                /* Cột Tên đề thi */
                .fixed-column:nth-child(3) {
                    left: 160px;
                    width: 200px;
                    min-width: 200px;
                    white-space: normal;
                    word-wrap: break-word;
                    border-right: none;
                }

                /* Áp dụng border-right cho th và td cuối cùng */
                th:last-child, td:last-child {
                    border-right: 1px solid #bbb;
                }

                /* Áp dụng border-bottom cho tr cuối cùng trong tbody */
                tbody tr:last-child td {
                    border-bottom: 1px solid #bbb;
                }
            
        
                td img {
                    width: 50px;
                    height: auto;
                }
        
                .tag {
                    background-color: #e9ecef;
                    border-radius: 5px;
                    padding: 5px 10px;
                    display: inline-block;
                }
        
                .level {
                    background-color: #d1ecf1;
                }
        
                .status {
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: #fff;
        
                    &.public {
                        background-color: #28a745;
                    }
                }
        
                .action {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
        
                    &.edit {
                        background-image: url('path-to-edit-icon.png');
                        width: 24px;
                        height: 24px;
                        background-size: cover;
                    }
        
                    &.delete {
                        background-image: url('path-to-delete-icon.png');
                        width: 24px;
                        height: 24px;
                        background-size: cover;
                    }
                }
            }
        }
    
        .pagination {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
    
            span {
                font-size: 14px;
            }
    
            .page-controls {
                button {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 5px;
    
                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    
        @media (max-width: 768px) {
            // .quiz-table {
            //     min-width: 800px;
            // }
    
            .fixed-column:nth-child(1) {
                left: 0;
                width: 50px;
            }
    
            .fixed-column:nth-child(2) {
                left: 50px;
                width: 80px;
            }
    
            .fixed-column:nth-child(3) {
                left: 130px;
                width: 150px;
            }
        }
    
        @media (max-width: 480px) {
            // .quiz-table {
            //     min-width: 300px;
            // }
    
            .fixed-column:nth-child(1) {
                left: 0;
                width: 50px;
            }
    
            .fixed-column:nth-child(2) {
                left: 50px;
                width: 70px;
            }
    
            .fixed-column:nth-child(3) {
                left: 120px;
                width: 130px;
            }
    
            .quiz-table th, .quiz-table td {
                padding: 5px;
            }
    
            .header input[type="text"] {
                width: 100%;
                margin-bottom: 10px;
            }
    
            .header .filter-options {
                flex-direction: column;
                align-items: flex-start;
            }
    
            .pagination {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    } 
}


.container-add-edit {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (max-width: 575.98px) {
    .container-add-edit {
      max-width: 400px;
    }
  }
  
  @media (min-width: 576px) {
    .container-add-edit {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container-add-edit {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container-add-edit {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-add-edit {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container-add-edit {
      max-width: 1750px;
    }
  }
  
  
