/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

/*   border radius */
$radius: 0.2rem;
.container-edu-list-exam{
    margin-right: auto;
    margin-left: auto;
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid #edebe9;
      
        .new-btn {
          background-color: #0078d4;
          color: white;
          padding: 6px 12px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          align-items: center;
      
          i {
            margin-right: 8px;
          }
        }
      
        .options {
          display: flex;
          gap: 20px;
      
          span {
            cursor: pointer;
            color: #555;
            display: flex;
            align-items: center;
      
            i {
              margin-right: 5px;
            }
          }
        }
      
        .selection-info {
            color: #555;
            display: flex;
            align-items: center;
      
          span {
            margin-left: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            i {
              margin-left: 5px;
            }
          }
      
          span:first-child {
            font-weight: bold;
          }
        }
      }
      
      .table {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
        border-radius: 6px;
      
        .table-row {

          display: flex;
          border-bottom: 1px solid #ddd;
      
          &:nth-child(odd) {
            background-color: #F3F2F1;
          }
      
          &:nth-child(even) {
            background-color: #fff; /* White background for even rows */
          }
      
          &:last-child {
            border-bottom: none;
          }
      
          .table-cell {
            padding: 15px;
            flex: 1;
            display: flex;
            align-items: center;
      
            // &.checkbox {
            //   flex: 0.5;
            //   justify-content: center;
            // }
            &:nth-child(1) { 
                flex: 0.5;
            }
      
            &:nth-child(2) { 
              flex-basis: 200px;
              flex-shrink: 0;
            }

            &:last-child {
              display: flex;
              gap: 15px;
              justify-content: center;
            }
            .icon-wrapper {
              position: relative;
              display: inline-block;
              cursor: pointer;
              .tooltip {
                  font-size: 11px;
                  position: absolute;
                  bottom: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  background-color: rgba(97, 97, 97, 0.92);
                  color: #fff;
                  padding: 8px;
                  border-radius: 4px;
                  font-size: 12px;
                  white-space: nowrap;
                  opacity: 0;
                  visibility: hidden;
                  transition: opacity 0.2s ease, visibility 0.2s ease;
              }
              &:hover .tooltip {
                  opacity: 1;
                  visibility: visible;
              }
            }
          }
      
          &.header {
            font-weight: bold;
            background-color: transparent; /* No background for header */
          }
        }
      }     
}

.container-edu-list-exam{
  /* XS (extra small) dưới 576px */
  @media (max-width: 575.98px) {
      width: 100%; /* Full width */
      .table{
        overflow: scroll;
        .table-row{
          width: 1000px;
          .table-cell{
            &:nth-child(1), 
            &:nth-child(2) {
              position: sticky; /* Makes the first two columns fixed */
              left: 0;
              z-index: 1; /* Ensure it is above other content */
              background-color: #fff; /* Add background to prevent overlap */
              box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
            }
            

            &:nth-child(2) { 
              // left: 60px; /* Adjust to make sure this column appears next to the first one */
            }
          }
          
        }
      }
      
  }

  /* SM (small) từ 576px đến 767px */
  @media (min-width: 576px) and (max-width: 767.98px) {
      width: 540px;
      .table{
        overflow: scroll;
        .table-row{
          width: 1000px;
        }
      }
      
  }

  /* MD (medium) từ 768px đến 991px */
  @media (min-width: 768px) and (max-width: 991.98px) {
      width: 720px;
      .table{
        overflow: scroll;
        .table-cell{
          flex-basis: 200px;
          flex-shrink: 0;
        }
      }
      
  }

  /* LG (large) từ 992px đến 1199px */
  @media (min-width: 992px) and (max-width: 1199.98px) {
      width: 960px;
      
  }

  /* XL (extra large) từ 1200px đến 1399px */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
      width: 1140px;
      
  }

  /* XXL (extra extra large) từ 1400px đến 1569px */
  @media (min-width: 1400px) and (max-width: 1669.98px) {
      width: 1320px;
     
  }

  /* XXXL (extra extra extra large) từ 1570px trở lên */
  @media (min-width: 1670px) {
      width: 1670px;
  }
}


  