@use "../abstracts";
#edu-quiz{
    // margin-top: 100px;
    .footer-content-mobile{
        display: none;
        position: fixed;
        z-index: 1000;
        @include abstracts.breakpoint(xl) {
            width: 100%;
            height: auto;
            top: unset;
            left: 0;
            bottom: 0;
            display: block;
        }
        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #3987c7; // Matches the blue background in your image
            padding: 0 15px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .left{
                display: flex;
                align-items: center;
                gap: 45px;
                .total-question{
                    color: #fff; 
                }
            }
            .right{
                display: flex;
                gap: 45px;
            }
            
            i {
                // font-size: 18px;
                color: #fff; // White color for the icons
                padding: 15px;
                -webkit-tap-highlight-color: transparent;
                 // Add space between the icons
                
                &:hover {
                    color: #dcdcdc; // Light grey on hover for a slight effect
                }
            }
        }
        
    }
    .top-content-mobile{
        display: none;
        position: fixed;
        z-index: 1000;
        @include abstracts.breakpoint(xl) {
            width: 100%;
            height: auto;
            top: unset;
            left: 0;
            right: 0;
            display: block;
        }
        .header-md{
            .container-top-content{
                padding: 10px;
                background-color: #3987c7;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .section-left-number{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                i {
                    padding: 10px;
                    -webkit-tap-highlight-color: transparent;
                    &:hover {
                        color: #dcdcdc; // Light grey on hover for a slight effect
                    }
                }
            }
            .questions-section{
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
                position: relative;
                scroll-behavior: smooth; 
                
                .question-tab{
                    
                    -webkit-tap-highlight-color: transparent; /* Xóa highlight trên iOS và Android */
                    -webkit-user-select: none; /* Ngăn chặn chọn văn bản khi nhấn vào tab */
                    user-select: none; /* Ngăn chặn chọn văn bản khi nhấn vào tab */
                    touch-action: manipulation; /* Đảm bảo chỉ thao tác chạm */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #72757c;
                    flex-grow: 1;
                    flex-shrink: 0;
                    padding: 10px;
                    cursor: pointer;
                    &.active{
                        color: #3987c7;
                    }
                }
                .indicator {
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    background-color: #3987c7;
                    transition: transform 0.3s ease;

                    
                }
            }
        }
    }
    .container-exam{
        .row{
            .left{
                .root{
                    background-color: rgb(255, 255, 255);
                    color: rgb(17, 24, 39);
                    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    // overflow: hidden;
                    border-radius: 16px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5px;
                    .header{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        padding: 16px 24px 0px;
                        .header-content{
                            overflow: hidden;
                            line-height: 1.5;
                            span{
                                color: rgb(17, 24, 39);
                                font-weight: 600;
                                font-size: 16px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 100%;
                            }
                        }
                    }
                    .content{
                        height: 100%;
                        padding: 8px 24px;
                        .content-1{
                            display: flex;
                            justify-content: space-between;
                            div{
                                display: flex;
                                align-items: center;
                                div{
                                    position: relative;
                                    display: flex;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    -webkit-box-pack: center;
                                    justify-content: center;
                                    flex-shrink: 0;
                                    font-family: Inter, sans-serif;
                                    font-size: 1.25rem;
                                    line-height: 1;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    user-select: none;
                                    width: 30px;
                                    height: 30px;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        text-align: center;
                                        object-fit: cover;
                                        color: transparent;
                                        text-indent: 10000px;
                                    }
                                }
                                p{
                                    margin: 0px;
                                    font-size: 14px;
                                    font-family: Inter, sans-serif;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: rgb(107, 114, 128);
                                    margin-left: 10px;

                                }
                            }
                        }
                        .content-2{
                            display: flex;
                            margin-top: 12px;
                            margin-bottom: 20px;
                            gap: 20px;
                            div{
                                display: flex;
                                justify-content: space-around;
                                font-size: 13px;
                                p:last-child{
                                    margin-left: 5px;
                                }
                                
                            }
                        }
                        hr{
                            border-width: 0px 0px thin;
                            border-style: solid;
                            border-color: rgba(0, 0, 0, 0.12);  

                        }
                        .content-3{
                            display: flex;
                            font-size: 14px;
                            gap: 5px;
                            margin-bottom: 10px;
                            margin-top: 10px;
                            p:last-child{
                                font-weight: 600;
                            }
                        }
                        .content-4{
                            line-height: 1.7;
                            p{
                                font-size: 14px;
                            }
                            div{
                                font-size: 18px;
                                font-weight: 700;
                            }
                        }
                        .content-5{
                            margin-top: 20px;
                        }
                        .content-container{
                            padding: 16px 16px 25px 0;
                            .content-item{
                                margin-bottom: 10px;
                                .content-item-1{
                                    gap: 20px;
                                    // background-color: rgba(10, 143, 220, 0.08);
                                    outline: 0px;
                                    border: 0px;
                                    margin: 0px;
                                    border-radius: 0px;
                                    cursor: pointer;
                                    user-select: none;
                                    vertical-align: middle;
                                    appearance: none;
                                    color: inherit;
                                    display: flex;
                                    -webkit-box-flex: 1;
                                    flex-grow: 1;
                                    -webkit-box-pack: start;
                                    justify-content: flex-start;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    position: relative;
                                    text-decoration: none;
                                    box-sizing: border-box;
                                    text-align: left;
                                    padding: 8px 16px;
                                    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                                    .sub-content-item-1-1{
                                        .section-icon.active{
                                            position: relative;
                                            display: flex;
                                            -webkit-box-align: center;
                                            align-items: center;
                                            -webkit-box-pack: center;
                                            justify-content: center;
                                            flex-shrink: 0;
                                            width: 40px;
                                            height: 40px;
                                            font-family: Inter, sans-serif;
                                            font-size: 1.8rem;
                                            line-height: 1;
                                            border-radius: 50%;
                                            overflow: hidden;
                                            user-select: none;
                                            color: rgb(244, 247, 254);
                                            background-color: rgb(233, 30, 99);
                                        }
                                        .section-icon{
                                            position: relative;
                                            display: flex;
                                            -webkit-box-align: center;
                                            align-items: center;
                                            -webkit-box-pack: center;
                                            justify-content: center;
                                            flex-shrink: 0;
                                            width: 40px;
                                            height: 40px;
                                            font-family: Inter, sans-serif;
                                            font-size: 1.8rem;
                                            line-height: 1;
                                            border-radius: 50%;
                                            overflow: hidden;
                                            user-select: none;
                                            color: rgb(244, 247, 254);
                                            background-color: rgb(158, 158, 158);
                                        }
                                    }
                                    .sub-content-item-1-2{
                                        span{
                                            font-size: 14px;
                                            font-family: Inter, sans-serif;
                                            font-weight: 400;
                                            line-height: 1.5;
                                        }
                                        p{
                                            font-size: 12px;
                                            font-family: Inter, sans-serif;
                                            font-weight: 400;
                                            line-height: 1.43;
                                            color: rgb(107, 114, 128);
                                        }
                                    }
                                }
                                .content-item-2{
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    display: flex;
                                    justify-content: center;
                                    gap: 20px;
                                    .sub-content-item-2-1{
                                        display: flex;
                                        p:last-child{
                                            color: green;
                                        }
                                    }
                                    .sub-content-item-2-2{
                                        display: flex;
                                        p:last-child{
                                            color: red;
                                        }
                                    }
                                    .sub-content-item-2-3{
                                        display: flex;
                                        p:last-child{
                                            color: #999900;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    
                    .footer{
                        margin-top: 10px;
                        padding: 8px 24px 16px;
                        .footer-icon{
                            display: flex;
                            justify-content: space-between;
                            div{
                                display: flex;
                                gap: 20px;
                            }
                        }
                    }
                }
                .header-md{
                    .timer-md{
                        text-align: center;
                        padding: 10px;
                        background-color: #3987c7;
                        color: #fff;
                    }
                    .section-md{
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 15px 10px 15px;
                    }
                    .questions-section{
                        // display: flex;
                        // position: relative;
                        // overflow: hidden;
                        border-bottom: 1px solid #ddd;

                        display: flex;
                        overflow-x: auto;
                        white-space: nowrap;
                        scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
                        position: relative;
                        scroll-behavior: smooth; 
                        
                        .question-tab{
                            
                            -webkit-tap-highlight-color: transparent; /* Xóa highlight trên iOS và Android */
                            -webkit-user-select: none; /* Ngăn chặn chọn văn bản khi nhấn vào tab */
                            user-select: none; /* Ngăn chặn chọn văn bản khi nhấn vào tab */
                            touch-action: manipulation; /* Đảm bảo chỉ thao tác chạm */
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #72757c;
                            flex-grow: 1;
                            flex-shrink: 0;
                            padding: 10px;
                            cursor: pointer;
                            &.active{
                                color: #3987c7;
                            }
                        }
                        .indicator {
                            position: absolute;
                            bottom: 0;
                            height: 2px;
                            background-color: #3987c7;
                            transition: transform 0.3s ease;

                            
                        }
                    }
                }
            }
            .center{
                @include abstracts.breakpoint(xl) {
                    margin-top: 95px;
                }
                .root{
                    @include abstracts.breakpoint(xl) {
                        box-shadow: none;
                    }
                    background-color: rgb(255, 255, 255);
                    color: rgb(17, 24, 39);
                    overflow: hidden;
                    border-radius: 16px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
                    display: flex;
                    flex-direction: column;
                    .header{
                        display: flex;
                        align-items: center;
                        padding: 16px 24px 0px;
                        span{
                            margin: 0px;
                            font-size: 14px;
                            font-weight: 500;
                            font-family: Inter, sans-serif;
                            line-height: 1.334;
                            display: block;
                        }
                    }
                    .content{
                        padding: 16px 24px;
                        .content-header{
                            margin-bottom: 15px;
                            h4{
                                margin: 0px;
                                font-size: 16px;
                                font-weight: 500;
                                font-family: Inter, sans-serif;
                                line-height: 1.235;
                                
                            }
                        }
                        hr{
                            margin: 0px;
                            flex-shrink: 0;
                            border-width: 0px 0px thin;
                            border-style: solid;
                            border-color: rgba(0, 0, 0, 0.12);
                        }
                        .content-content{
                        
                            ul{
                                list-style: none;
                                margin: 0px;
                               
                                position: relative;
                                .content-item{
                                    border-bottom: 1px solid #eee;
                                    -webkit-tap-highlight-color: transparent;
                                    background-color: transparent;
                                    cursor: pointer;
                                    user-select: none;
                                    vertical-align: middle;
                                    appearance: none;
                                    color: inherit;
                                    display: flex;
                                    -webkit-box-pack: start;
                                    justify-content: flex-start;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    position: relative;
                                    text-decoration: none;
                                    width: 100%;
                                    box-sizing: border-box;
                                    text-align: left;
                                    padding: 12px 16px;
                                    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                                    span{
                                        margin: 0px;
                                        font-size: 15px;
                                        font-family: Inter, sans-serif;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        display: block;
                                    }
                                }
                                // .content-item:hover{
                                //     background-color: rgba(0, 0, 0, 0.04);
                                // }
                                .content-item.correct{
                                    color: #107c67;
                                    
                                    label{
                                        border: 1px solid #259172;
                                        border-radius: 8px;
                                        span{
                                            font-weight: 600;
                                        }
                                    }
                                }
                                .content-item.wrong{
                                    color: #e63349;
                                    
                                    label{
                                        border: 1px solid #e75363;
                                        border-radius: 8px;
                                        span{
                                            font-weight: 600;
                                        }
                                    }
                                }
                                .content-item.select{
                                    label{
                                        border: 1px solid #eeaa81;
                                        border-radius: 8px;
                                        
                                    }
                                }
                            }
                            .matching{
                                padding: 3px;
                                .matching-item{
                                    display: flex;
                                    padding: 6px;
                                    border-radius: 6px;
                                    border: 1px solid #eee;
                                    gap: 6px;
                                    margin-top: 6px;
                                    margin-bottom: 6px;
                                    font-size: 15px;
                                    font-family: Inter, sans-serif;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    .item-left{
                                        width: 50%;
                                        padding: 6px;
                                    }
                                    .item-right{
                                        width: 50%;
                                        div{
                                            padding: 4px;
                                            height: 100%;
                                            min-height: 60px;
                                            border-width: 1px;
                                            border-radius: 6px; 
                                        }
                                        div.shadow-matching-active{
                                            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
                                            background-color: rgb(227, 242, 253) !important;
                                            opacity: 1 !important;
                                        }
                                        div.shadow-matching-inactive{
                                            box-shadow: #ccdbe8 3px 3px 6px 0px inset, hsla(0,0%,100%,.5) -3px -3px 6px 1px inset !important;
                                        }
                                    }
                                }
                                .matching-instruction{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-top: 1.2rem !important;
                                    margin-bottom: 1.2rem !important;
                                }
                                .matching-answer{
                                    display: grid;
                                    grid-template-columns: repeat(2, minmax(0, 1fr));
                                    gap: 1.2rem;
                                    background-color: rgb(245 245 245/ 1);
                                    border-radius: .6rem;
                                    padding:8px;
                                    div{
                                        padding: 8px;
                                        background-color: rgb(255 255 255/ 1);
                                        border-radius: .6rem;
                                        min-height: 60px;
                                        border: 0 solid #eee;

                                    }
                                }
                            }
                        }
                    }
                    .footer{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 8px 24px 16px;
                        .activeButton {
                            background-color: rgb(10, 143, 220)!important;
                            color: white!important;
                        }
                    
                        .disabledButton{
                            background-color: rgba(0, 0, 0, 0.12) !important;
                            color: rgba(0, 0, 0, 0.26) !important;
                        }
                        button{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            // justify-content: space-around;
                            min-width: 65px;
                            padding: 6px 16px;
                            border: none;
                            border-radius: 8px;
                            span{
                                font-size: 12px;;
                            }

                            .btn-circle {
                                position: relative;
                                background-color: transparent;
                                cursor: pointer;
                                font-size: 12px;
                              }
                              
                            .btn-circle .fa-circle {
                                // color: #ddd; /* or any color you prefer */
                                font-size: 20px;
                              }
    
                            .btn-circle .fa-chevron-right{
                                font-size: 11px;
                              }
    
                            .btn-circle .fa-chevron-left{
                                font-size: 11px;
                              }
                              
                            .btn-circle .inside {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                // color: black; /* or any color you prefer */
                                // color: rgb(10, 143, 220);
                            }   
                        }

                        button.activeButton{
                            .btn-circle .inside {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                // color: black; /* or any color you prefer */
                                color: rgb(10, 143, 220);
                            } 
                        }
                        

                          
                          /* You can add :hover effect for button here */
                        //   .btn-circle:hover .fa-circle {
                        //     color: #ccc; /* darker shade for hover effect */
                        //   }
                    }

                }
                .root ~ .root{
                    // margin-top: 10px;
                }
            }
            .right{
                // padding: 32px 0 0 32px;
                .root{
                    background-color: rgb(255, 255, 255);
                    color: rgb(17, 24, 39);
                    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    overflow: hidden;
                    border-radius: 16px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
                    display: flex;
                    flex-direction: column;
                    .header{
                        padding: 16px 24px 0px;
                        h3{
                            color: rgb(17, 24, 39);
                            font-weight: 600;
                            font-size: 16px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }
                    .content{
                        padding: 16px 24px;
                        height: 100%;
                        
                        .content-content{
                            max-height: 320px;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            overflow-y: auto;
                            // scrollbar-width: none;
                            
                            button{
                                display: inline-flex;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                position: relative;
                                box-sizing: border-box;
                                -webkit-tap-highlight-color: transparent;
                                outline: 0px;
                                border: 0px currentcolor;
                                margin: 6px;
                                cursor: pointer;
                                user-select: none;
                                vertical-align: middle;
                                appearance: none;
                                text-decoration: none;
                                font-family: Inter, sans-serif;
                                font-weight: 500;
                                font-size: 1.4rem;
                                line-height: 1.75;
                                min-width: 64px;
                                padding: 6px 16px;
                                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                                color: inherit;
                                background-color: rgb(224, 224, 224);
                                box-shadow: none;
                                border-radius: 8px;
                                
                            }
                        }
                        // .content-content:hover{
                        //     scrollbar-width: inherit;
                        // }
                    }
                    .footer{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        padding: 8px 24px 16px;
                        button{
                            display: inline-flex;
                            -webkit-box-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            justify-content: center;
                            position: relative;
                            box-sizing: border-box;
                            -webkit-tap-highlight-color: transparent;
                            outline: 0px;
                            border: 0px;
                            margin: 0px;
                            cursor: pointer;
                            user-select: none;
                            vertical-align: middle;
                            appearance: none;
                            text-decoration: none;
                            font-family: Inter, sans-serif;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.75;
                            min-width: 64px;
                            padding: 6px 16px;
                            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            color: rgb(255, 255, 255);
                            background-color: rgb(10, 143, 220);
                            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
                            border-radius: 8px;
                            text-transform: capitalize;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
 }


 .root-test{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 24, 39);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.089);
    .header{
        display: flex;
        align-items: center;
        padding: 16px 24px 0px;
        span{
            margin: 0px;
            font-size: 14px;
            font-weight: 500;
            font-family: Inter, sans-serif;
            line-height: 1.334;
            display: block;
        }
    }
    .content{
        padding: 16px 24px;
        .content-header{
            margin-bottom: 15px;
            h4{
                margin: 0px;
                font-size: 15px;
                font-weight: 500;
                font-family: Inter, sans-serif;
                line-height: 1.235;
            }
        }
        hr{
            margin: 0px;
            flex-shrink: 0;
            border-width: 0px 0px thin;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.12);
        }
        .content-content{
            // p{
            //     font-weight: 600;
            // }
            margin-top: 15px;
            ul{
                list-style: none;
                margin: 0px;
                padding: 8px 0px;
                position: relative;
                .content-item{
                    border: 2px solid transparent;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    -webkit-tap-highlight-color: transparent;
                    background-color: transparent;
                    border-radius: 0px;
                    cursor: pointer;
                    user-select: none;
                    vertical-align: middle;
                    appearance: none;
                    color: inherit;
                    display: flex;
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                    -webkit-box-align: center;
                    align-items: center;
                    position: relative;
                    text-decoration: none;
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    padding: 8px 16px;
                    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    span{
                        margin: 0px;
                        font-size: 14px;
                        font-family: Inter, sans-serif;
                        font-weight: 400;
                        line-height: 1.5;
                        display: block;
                    }
                }
                // .content-item:hover{
                //     background-color: rgba(0, 0, 0, 0.04);
                // }
            }
            .matching{
                padding: 3px;
                .matching-item{
                    display: flex;
                    padding: 6px;
                    border-radius: 6px;
                    border: 1px solid #eee;
                    gap: 6px;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    font-size: 14px;
                    font-family: Inter, sans-serif;
                    font-weight: 400;
                    line-height: 1.5;
                    .item-left{
                        width: 50%;
                        padding: 6px;
                    }
                    .item-right{
                        width: 50%;
                        div{
                            padding: 4px;
                            height: 100%;
                            min-height: 60px;
                            border-width: 1px;
                            border-radius: 6px;
                            
                        }
                        div.shadow-matching-active{
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
                            background-color: rgb(227, 242, 253) !important;
                            opacity: 1 !important;
                        }
                        div.shadow-matching-inactive{
                            box-shadow: #ccdbe8 3px 3px 6px 0px inset, hsla(0,0%,100%,.5) -3px -3px 6px 1px inset !important;
                        }
                    }
                }
                .matching-instruction{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1.2rem !important;
                    margin-bottom: 1.2rem !important;
                }
                .matching-answer{
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 1.2rem;
                    background-color: rgb(245 245 245/ 1);
                    border-radius: .6rem;
                    padding:8px;
                    div{
                        padding: 8px;
                        background-color: rgb(255 255 255/ 1);
                        border-radius: .6rem;
                        min-height: 60px;
                        border: 0 solid #eee;

                    }
                }
            }
        }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px 16px;
        .activeButton {
            background-color: rgb(10, 143, 220)!important;
            color: white!important;
        }
    
        .disabledButton{
            background-color: rgba(0, 0, 0, 0.12) !important;
            color: rgba(0, 0, 0, 0.26) !important;
        }
        button{
            display: flex;
            align-items: center;
            gap: 5px;
            min-width: 65px;
            padding: 6px 16px;
            border: none;
            border-radius: 8px;
            span{
                font-size: 12px;;
            }

            .btn-circle {
                position: relative;
                background-color: transparent;
                cursor: pointer;
                font-size: 12px;
              }
              
            .btn-circle .fa-circle {
                // color: #ddd; /* or any color you prefer */
                font-size: 20px;
              }

            .btn-circle .fa-chevron-right{
                font-size: 11px;
              }

            .btn-circle .fa-chevron-left{
                font-size: 11px;
              }
              
            .btn-circle .inside {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                // color: black; /* or any color you prefer */
                // color: rgb(10, 143, 220);
            }   
        }

        button.activeButton{
            .btn-circle .inside {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                // color: black; /* or any color you prefer */
                color: rgb(10, 143, 220);
            } 
        }
        

          
          /* You can add :hover effect for button here */
        //   .btn-circle:hover .fa-circle {
        //     color: #ccc; /* darker shade for hover effect */
        //   }
    }

}
.root-test ~ .root-test{
    margin-top: 10px;
}

.base-timer {
    position: relative;
    width: 120px;
    height: 120px;
    .base-timer__svg {
        transform: scaleX(-1);
        .base-timer__circle {
            fill: none;
            stroke: none;
            .base-timer__path-elapsed {
                stroke-width: 7px;
                stroke: grey;
              }
            .base-timer__path-remaining {
                stroke-width: 7px;
                stroke-linecap: round;
                transform: rotate(90deg);
                transform-origin: center;
                transition: 1s linear all;
                fill-rule: nonzero;
                stroke: currentColor;
              }
            .base-timer__path-remaining.green {
                color: rgb(65, 184, 131);
              }
              
            .base-timer__path-remaining.orange {
                color: orange;
              }
              
            .base-timer__path-remaining.red {
                color: red;
              }   
        }
    }
    .base-timer__label {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
      }
  }
