.event-table-detail {
    border-radius: 6px;
    overflow-x: auto; /* Cho phép cuộn ngang */
    .table-row {
      display: flex;
      border-bottom: 1px solid #ddd;
      &:nth-child(odd) {
        background-color: #F3F2F1;
      }
      &:nth-child(even) {
        background-color: #fff; /* White background for even rows */
      }
  
      &:last-child {
        border-bottom: none;
      }
      .table-cell {
        padding: 10px;
        flex: 1;
        word-break: break-all;
        &:nth-child(1) { 
            flex: 0.3;
        }
  
        &:nth-child(2) { 
          flex:2;
        
        }

        &:last-child {
          display: flex;
          gap: 15px;
          justify-content: center;
        }
        .icon-wrapper {
          position: relative;
          display: inline-block;
          cursor: pointer;
          .tooltip {
              font-size: 11px;
              position: absolute;
              z-index: 9999;
              bottom: 100%;
              left: 50%;
              transform: translateX(-50%);
              background-color: rgba(97, 97, 97, 0.92);
              color: #fff;
              padding: 8px;
              border-radius: 4px;
              font-size: 12px;
              white-space: nowrap;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.2s ease, visibility 0.2s ease;
          }
          &:hover .tooltip {
              opacity: 1;
              visibility: visible;
          }
        }
        .container-action{
          display: flex;
          flex-direction: column;
          gap: 8px;
          .item-action{
            a{
              color: #000000;
              span{
                margin-left: 5px;
              }
            }
          }
        }
        .qr-image{
            width: 70px;
            height: 70px;
            border: 1px solid green;
            border-radius: 8px;
        }
      }
  
      &.header {
        font-weight: bold;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 990;
      }
    }
  }

  @media (max-width: 575.98px) {
    .event-table-detail{
      .table-row{
        min-width: 1000px;
        .table-cell{
          padding: 8px;
          font-size: 12.5px;
          &:nth-child(1), 
          &:nth-child(2) {
            position: sticky; /* Makes the first two columns fixed */
            left: 0;
            z-index: 1; /* Ensure it is above other content */
            background-color: #fff; /* Add background to prevent overlap */
            box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
          }
          &:nth-child(1) { 
            flex: 0.2;
          }
          &:nth-child(2) { 
            flex: 1;
          }
          .profile-table{
            img{
              width: 30px;
              height: 30px;
            }
          }
        }
        
      }
    }
    
}

/* SM (small) từ 576px đến 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
    .event-table-detail{
      .table-row{
        min-width: 1000px;
        .table-cell{
          padding: 8px;
          font-size: 12.5px;
          &:nth-child(1), 
          &:nth-child(2) {
            position: sticky; /* Makes the first two columns fixed */
            left: 0;
            z-index: 1; /* Ensure it is above other content */
            background-color: #fff; /* Add background to prevent overlap */
            box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
          }
          &:nth-child(2) { 
            flex: 1.5;
          }
          .profile-table{
            img{
              width: 30px;
              height: 30px;
            }
          }
        }
        
      }
    }
}