.event-content{
    margin-top: 122px;
    margin-left: 112px;
    padding: 20px 35px;
    transition: margin-left 0.3s ease;
    @media (max-width: 768px) {
        margin-left: 0;
        padding: 0px 20px 20px 20px;
      }
}