#exam{
    .container{
        img{
            width: 95px;
            height: 90px;
        }
        .header{
            display: flex;
            justify-content: center;
            text-align: center;
            .left{
                flex: 1;
            }
            .center{
                flex: 2;
                h1{
                    font-size: 32px;
                    color: #31708f;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
                h2{
                    font-size: 40px;
                    color: #31708f;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
            }
            .right{
                flex: 1;
                
            }   
        }
        .content{
            text-align: center;
            h3{
                font-size: 28px;
                color: #31708f;
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 8px;
            }
            h4{
                font-size: 24px;
                color: #31708f;
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 8px;
            }
        }
        nav{
            padding: 8px;
            .question-time{
                display: flex;
                margin-top:16px;
                margin-bottom:24px ;
                .index-question{
                    flex: 3;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding-right: 20px;
                
                    .index{
                        text-align: center;
                        border: 1px solid #17a2b8;
                        font-size: 11px;
                        height: 30px;
                        width: 30px;
                        margin: 4px 4px 4px 0;
                        line-height: 30px;
                        text-decoration: none;
                        color:black;
                        
                    }
                }
                // VER 1
                // .remaining-time{
                //     flex: 1;
                //     display: flex;
                //     justify-content: center;
                //     .circle-time{
                //         padding: 0 15px;
                //         .circle{
                //             border-radius: 50%;
                //             height: 40px;
                //             width: 40px;
                //             text-transform: uppercase;
                //             background-color: #0a90eb;
                //             line-height: 40px;
                //             text-align: center;
                //             color: white;
                //             font-weight: 700;
                //         }
                //     } 
                // }

                // VER 2   
                .base-timer {
                    position: relative;
                    width: 120px;
                    height: 120px;
                    .base-timer__svg {
                        transform: scaleX(-1);
                        .base-timer__circle {
                            fill: none;
                            stroke: none;
                            .base-timer__path-elapsed {
                                stroke-width: 7px;
                                stroke: grey;
                              }
                            .base-timer__path-remaining {
                                stroke-width: 7px;
                                stroke-linecap: round;
                                transform: rotate(90deg);
                                transform-origin: center;
                                transition: 1s linear all;
                                fill-rule: nonzero;
                                stroke: currentColor;
                              }
                            .base-timer__path-remaining.green {
                                color: rgb(65, 184, 131);
                              }
                              
                            .base-timer__path-remaining.orange {
                                color: orange;
                              }
                              
                            .base-timer__path-remaining.red {
                                color: red;
                              }   
                        }
                    }
                    .base-timer__label {
                        position: absolute;
                        width: 120px;
                        height: 120px;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: bold;
                      }
                  }

            }
        }
        .question-item{
            padding: 10px;
            line-height: 1.7;
            background-color: white;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            margin-bottom: 1.5rem;
            b{
                font-weight: bolder;
                color: #212529;
            }
            .question{
                p:first-of-type{
                    display: inline;
                }
                
            }
            
            .answer{
                margin-bottom: 8px;
                font-weight: 400;
                color: #212529;
                padding-left: 16px;
                label{
                    p{
                        display: inline;
                    }
                }
            }
        }
    }
}