.matching-form{
    .matching-form-header{
        .title-question{
            display: block;
            font-weight: 700;
        }
    }
    .matching-form-body{
        display: flex;
        gap: 50px;
        .matching-left{
            flex: 2.5;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title-question{
                display: block;
                font-weight: 700;
            }
            .matching-item{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .matching-pair{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
        .matching-right{
            flex: 1;
            .input2{
                input{
                    max-width: 100px;
                    padding: 10px 10px;
                }
            }
            .percentage-mark{
                .percentage-item{
                    .percentage-percent{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        input{
                            padding: 8px 8px;
                            border: 1px solid #ccc;
                            border-radius: 8px;
                            color: #333;
                            width: 100%;
                            outline: none;
                            max-width: 64px;
                        }
                    }
                }
            }
        }
    }
}




.matching-form{
    /* XS (extra small) dưới 576px */
    @media (max-width: 575.98px) {
        width: 100%; /* Full width */
        .matching-form-body{
            font-size: 13px;
            flex-direction: column;
            gap: 20px;
               
        }
        
    }
  
    /* SM (small) từ 576px đến 767px */
    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 100%;
        .matching-form-body{
            font-size: 13px;
            flex-direction: column;
            gap: 20px;
             
        }
        
           
    }
  
    /* MD (medium) từ 768px đến 991px */
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 100%;
        .matching-form-body{
            font-size: 13px;
            flex-direction: column;
            gap: 20px;
               
        }
        
         
    }
  
    // /* LG (large) từ 992px đến 1199px */
    // @media (min-width: 992px) and (max-width: 1199.98px) {
    //     width: 960px;
        
    // }
  
    // /* XL (extra large) từ 1200px đến 1399px */
    // @media (min-width: 1200px) and (max-width: 1399.98px) {
    //     width: 1140px;
        
    // }
  
    // /* XXL (extra extra large) từ 1400px đến 1569px */
    // @media (min-width: 1400px) and (max-width: 1669.98px) {
    //     width: 1320px;
       
    // }
  
    // /* XXXL (extra extra extra large) từ 1570px trở lên */
    // @media (min-width: 1670px) {
    //     width: 1670px;
    // }
  }