.modal-overlay-section-mobile{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4); /* Màu nền mờ khi modal hiển thị */
    display: flex;
    // justify-content: flex-end; 
    align-items: end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000; /* Đảm bảo modal nằm trên các thành phần khác */
    .modal-section-mobile{
        background: #fff;
        width: 100%;
        max-height: 70%; /* Giới hạn chiều cao của modal */
        display: flex;
        flex-direction: column;
        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 16px;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        .modal-header{
            margin-bottom: 40px;
            display: flex;
            .close-modal-new{
                padding: 0;
                font-weight: 500;
                position: absolute;
                top: 16px;
                right: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: #333;
                // color: #787a7e;
                background: #16182308;
                font-size: 2.8rem;
                line-height: 0;
                cursor: pointer;
                border: none;
                outline: none;
                box-shadow: none;
                &:hover {
                    background: rgba(0, 0, 0, 0.04);
                    
                }
            }
        }
        .modal-body{
            border-bottom: 1px solid #ddd;
            padding: 0px 20px 20px 20px;
            p{
                font-weight: 550;
                margin-bottom: 10px;
            }
            .dropdown{
                width: 100%;
                margin-bottom: 15px;
            }
            .button-edu{
                width: 100%;
                justify-content: center;
            }
        }
        .modal-footer{
            padding:20px;
            p{
                font-weight: 550;
            }
        }
        .footer-section-container{
            padding: 0 20px 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: auto;
            /* Ẩn thanh cuộn trên IE và Edge */
            -ms-overflow-style: none;

            /* Ẩn thanh cuộn trên Firefox */
            scrollbar-width: none;
            
            &::-webkit-scrollbar {
                display: none;  /* Ẩn thanh cuộn trên các trình duyệt sử dụng WebKit như Chrome và Safari */
            } 
        }
    }
}

.modal-overlay-mobile.show {
    opacity: 1;
    visibility: visible;
}
.modal-overlay-mobile.show .modal-section-mobile {
    transform: translateY(0); /* Hiển thị modal từ dưới lên */
}



