.modal-add-question-text{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 24, 39);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 64px);
    width: calc(100% - 64px);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    position: absolute;
    top: 10%; /* Adjust this value to move the modal up */
    .modal-header{
        padding: 15px 10px 30px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .how{
            width: 35px;
            height: 35px;
        }
        .title-index-mobile{
            color: #111827;
            flex: 3;
            display: block;
            text-align: center;
            font-size: 1.75rem;
        }
    }
    .modal-body{
        padding: 0 25px 25px 25px;
        max-height: calc(-300px + 100vh);
        height: min(600px, 100vh - 175px);
        overflow-y: auto;
        display: flex;
        gap: 20px;
        .modal-left{
            flex: 1;
            .modal-left-header{
                height: 35px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                p{
                    color: #433753;
                    font-weight: 600;
                }
                .button-edu{
                    padding: 6px 6px;
                    height: 30px;

                }
            }
            .modal-left-body{
                // .exam-description{
                //     height: 520px;
                // }
                .textarea-custom{
                    height: 520px;
                    width: 100%;
                }
            }
        }
        .modal-right{
            flex: 1;
            .modal-right-header{
                height: 35px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                p{
                    color: #433753;
                    font-weight: 600;
                }
                .question-text-attention{
                    border-radius: 8px;
                    padding: 8px 10px;
                    background-color: #fff4e5;
                    .question-text-attention-content{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        i{
                            font-size: 20px;
                            color:#ef7918;
                        }
                        span{
                            color: rgb(102, 60, 0);
                        }
                    }
                }
            }
            .modal-right-body{
                .question-text-container{
                    // height: 520px;
                    padding: 16px;
                    // border: 1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    height: 520px;
                    // max-height: calc(-300px + 100vh);
                    // height: min(520px, 100vh - 175px);
                    overflow-y: auto;
                    span{
                        color: rgba(0, 0, 0, 0.87);
                        font-weight: 600;
                        font-size: 16px;
                    }
                    .indexs-container{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        max-height: 150px;
                        overflow: scroll;
                    }
                    .question-single{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .question-text-single{
                            color: #000000DE;
                            font-weight: 600;
                            font-size: 14px;
                            p{
                                display: inline-block;
                            }
                        }
                        .question-single-all-options{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 15px;
                            .question-single-option{
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                // padding: 12px 8px;
                                .question-single-status{
                                    .fa-circle-xmark{
                                        font-size: 22px;
                                        color: rgb(211, 47, 47);
                                    }
                                    .fa-circle-check{
                                        font-size: 22px;
                                        color: rgb(46, 125, 50); 
                                    }
                                }  
                            }
                        }   
                    }
                }
            }
        }
    }
    .modal-footer{
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        .button-edu{
            &:hover {
                background: #0056b3;
            }
        }
        button.disabled{
            color: rgba(0, 0, 0, 0.26);
            box-shadow: none;
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
}


.modal-add-question-text{
    /* XS (extra small) dưới 576px */
    @media (max-width: 575.98px) {
        width: 100%; /* Full width */
        .modal-body{
            flex-direction: column;
            .modal-right{
                .modal-right-header{
                    .question-text-attention{
                        padding: 5px 10px;
                        font-size: 13px;
                    }
                }
            }    
        } 
    }
  
    /* SM (small) từ 576px đến 767px */
    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 540px;
        .modal-body{
            flex-direction: column;
        }
           
    }
  
    /* MD (medium) từ 768px đến 991px */
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 720px;
        .modal-body{
            flex-direction: column;
        }
         
    }
  
    /* LG (large) từ 992px đến 1199px */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        width: 960px;
        
    }
  
    /* XL (extra large) từ 1200px đến 1399px */
    @media (min-width: 1200px) and (max-width: 1399.98px) {
        width: 1140px;
        
    }
  
    /* XXL (extra extra large) từ 1400px đến 1569px */
    @media (min-width: 1400px) and (max-width: 1669.98px) {
        width: 1320px;
       
    }
  
    /* XXXL (extra extra extra large) từ 1570px trở lên */
    @media (min-width: 1670px) {
        width: 1670px;
    }
  }