.accordion{
    overflow: scroll;
    height: 500px;
    .contentBx{
        position: relative;
        margin: 20px 20px;
        .label{
            position: relative;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            border: 1px solid rgba(0, 0, 0, 0.12);
            font-weight: bold;
            p{
                // flex: 1;
                line-height: 3.5;
            }
            .final{
                // flex: 2;
                display: flex;
                gap: 25px;
                .btgreen{
                    min-width: 40px;
                    outline: 0px;
                    border: 0px;
                    cursor: pointer;
                    user-select: none;
                    appearance: none;
                    font-weight: 500;  
                    padding: 10px 10px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(46, 125, 50);
                    box-shadow: none;
                    border-radius: 8px;
                    text-transform: capitalize;
                }
                .btred{
                    min-width: 40px;
                    outline: 0px;
                    border: 0px;
                    cursor: pointer;
                    user-select: none;
                    appearance: none;
                    font-weight: 500;  
                    padding: 10px 10px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(211, 47, 47);
                    box-shadow: none;
                    border-radius: 8px;
                    text-transform: capitalize;
                }
                .btyellow{
                    min-width: 40px;
                    outline: 0px;
                    border: 0px;
                    cursor: pointer;
                    user-select: none;
                    appearance: none;
                    font-weight: 500;  
                    padding: 10px 10px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(211, 194, 47);
                    box-shadow: none;
                    border-radius: 8px;
                    text-transform: capitalize;
                }
                .btgray{
                    min-width: 40px;
                    outline: 0px;
                    border: 0px;
                    cursor: pointer;
                    user-select: none;
                    appearance: none;
                    font-weight: 500;  
                    padding: 10px 10px;
                    background-color: rgb(224, 224, 224);;
                    box-shadow: none;
                    border-radius: 8px;
                    text-transform: capitalize; 
                }
                // .toggle-icon i {
                //     cursor: pointer;
                //     vertical-align: middle;
                //     margin-left: 5px; /* Khoảng cách từ button */
                // }
                .toggle-icon i {
                    font-size: 10px;
                    cursor: pointer;
                    vertical-align: middle;
                    margin-left: 5px;
                    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi suôn sẻ */
                }
                
                .toggle-icon i.active {
                    color: #007bff; /* Thay đổi màu khi active */
                    transform: rotate(-180deg) scale(1.2); /* Xoay 180 độ và phóng to 1.5 lần */
                }
                .toggle-icon i.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
                
            
            }
        }
        .label::before{
            // content:"+";
            // position: absolute;
            // top: 50%;
            // right: 20px;
            // transform: translateY(-50%);
            // font-size: 1.5em;

            // content: "";
            // position: absolute;
            // right: 20px;
            // top: 15px;
            // width: 8px;
            // height: 8px;
            // border: 2px solid #333;
            // border-top: 2px solid #FFF;
            // border-right: 2px solid #fff;
            // transform: rotate(-45deg);
            // transition: 0.5s;
            // pointer-events: none;
            // z-index: 3;





        }
        .contentt{
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            background: #fff;
            display: none;
            overflow: hidden;
            max-height: 400px;
            overflow-y: auto;
            margin-top: 15px;
            padding: 20px; 
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        .contentt.show {
            display: block;
            opacity: 1;
        }
        
    }
    
}