@use "../abstracts";
.blog-author{
    padding: 20px;
    border: 1px solid #d9e1ee;
    border-radius: 6px;
    margin: 20px 0;
    .info-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include abstracts.breakpoint(md) {
            flex-direction: column;
            gap: 10px;
          }
        .info-left{
            display: flex;
            align-items: center;
            gap: 15px;
            @include abstracts.breakpoint(md) {
                flex-direction: column;
                gap: 10px;
              }
            img{
                border-radius: 50%;
            }
            span{
                font-size: 1.8rem;
                font-weight: 700;
            };
        }
        .info-right{
            span{
                color: #333;
                font-size: 1.2rem;
                font-weight: 400;
                padding-right: 10px;
                @include abstracts.breakpoint(md) {
                    display: none;
                  }
            }
            a{
                display: inline-block;
                color:#F37032;
                margin: 0 4px;
                background-color:#f5f7f8;
                border-radius: 4px;
                width: 24px;
                height: 24px;
                line-height: 2.4rem;
                text-align: center;
            }
            a:hover{
                color:white;
                background-color:#F37032 ;
            }
        }
    }
    .info-2{
        display: flex;
        @include abstracts.breakpoint(md) {
           flex-direction: column;
         }
        .quote-left{
            max-width: 10.653%;
            flex-basis: 10.653%;
            text-align: center;
            padding-top: 5px;
            @include abstracts.breakpoint(md) {
                text-align: left;
              }

        }
        .quote-center{
            max-width: 82.793%;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.4rem;
            @include abstracts.breakpoint(md) {
                max-width: 100%;
              }
        }
        .quote-right{
            max-width: 6.22%;
            display: flex;
            align-items: flex-end;
            @include abstracts.breakpoint(md) {
                display: block;
                max-width: 100%;
                text-align: right;
              }
        }
    }
}