@use "../abstracts";
.breadcrumb{
    padding-top: 30px;
}
.breadcrumb__text{
    font-size: 1.5rem;
    @include abstracts.breakpoint(md) {
        line-height:1.5;
     }
    a{

        text-decoration: none;
        color:#FF6D00 ;
        text-transform:uppercase;
    }
    .sperator{
        padding:0 3px
    }
    &-title{
        text-transform:capitalize;
    }
}