.custom-button {
    color: #0f0f0f; /* text-gray-900 */
    // background-color: #f3f4f6; /* bg-gray-100 */
    background-color: #0000000D;
    border: none;
    font-weight: 500; /* font-medium */
    border-radius: 8px; /* rounded-lg */
    font-size: 14px; /* text-sm */
    padding: 10px 12px; /* px-5 py-2.5 */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px; /* me-2 */
    margin-bottom: 8px; /* mb-2 */

    &:hover {
        // background-color: #e5e7eb; /* hover:bg-gray-200 */
        background-color: #0000001A;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(243, 244, 246, 1); /* focus:ring-4 focus:ring-gray-100 */
    }

    &:active {
        box-shadow: 0 0 0 4px rgba(107, 114, 128, 0.5); /* focus:ring-gray-500 */
    }
    &.active {
        background-color: #0f0f0f; /* Nền active */
        color: #ffffff; /* Màu chữ active */
    }
}
