#home{
    //one
    .one{
        .container{
            padding: 0;
            .grid-one{
                margin: 30px 0;
                
                .grid-title{
                    margin-bottom: 30px;
                    h2{
                        font-size: 4.2rem;
                        font-weight: 600;
                        text-align: center;
                    }
                }
                .grid-box{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 30px;
                    .box{
                        position: relative;
                        padding: 40px 25px;
                        background-color: rgba(237,237,235,.56);
                        border: 1px solid silver;
                        border-radius: 18px;
                        overflow: hidden;
                        .box-hover{
                            position: absolute;
                            z-index: 10;
                            inset: 0;
                            transform: translateY(100%);
                            transition-duration: .3s;  
                            &_inner{
                                background: linear-gradient(90deg, #FEB343 0%, #F15726 100%, #EC4532 100%);
                                height: 100%;
                                padding: 25px;
                                border-radius: 18px;
                                color: white;
                                display: flex;
                                    flex-direction: column;
                                .title{
                                    display: block;
                                    font-size: 2.2rem;
                                    font-weight: 700;
                                    text-align: center;
                                    text-transform: uppercase;
                                    text-align: center;
                                    margin-bottom: 16px;
                                }
                                .list-feature{
                                    display: flex;
                                    flex-direction: column;
                                    flex: 1 1 0%;
                                    .feature{
                                        padding: 16px 0;
                                        font-size: 1.6rem;
                                        line-height: 1.5;
                                        border-bottom: 1px dashed rgba(255,255,255,.5);
                                        i{
                                            padding-right: 10px;
                                        }
    
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    display: inline-block;
                                    text-align: center;
                                    padding: 12px 0;
                                    background-color: white;
                                    border-radius: 25px;
                                    color: black;
                                    font-size: 1.5rem;
                                    text-transform: uppercase;
                                    margin-top: 16px;
                                    font-weight: 500;
                                }
                                
                            }
                        }

                        .box-icon{
                            text-align: center;
                        }
                        .box-title{
                            text-align: center;
                            font-size: 3rem;
                            line-height: 1.3;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-top: 30px;  
                        }
                        .box-description{
                            font-size: 1.8rem;
                            line-height: 1.3;
                            font-weight: 300;
                            font-style: italic;
                            margin-top: 10px;


                        }
                    }
                    .box:hover .box-hover{
                        transform: translateY(0);
                    }
                }
            }

        }
    }


    //two
    .two{
        background-color: #F5F9FC;
        padding-top: 30px;
        .container{
            display: flex;
            .section-left{
                flex: 3;
                // flex: 3 0 0%;
                display: flex;
                justify-content: center;
                max-height: 100px;
                
                
                
                .first{
                    flex: 1;
                    font-size: 1.4rem;
                    color: #232323;
                    font-weight: bold;
                    padding-left: 2%;
                    text-align: center;
                }
                .second{
                    flex: 1;
                    font-size: 1.4rem;
                    color: #232323;
                    font-weight: bold;
                    border-right: 1px solid #232323;
                    border-left: 1px solid #232323;
                    padding: 0 20px;
                    line-height: 22px;
                    text-align: center;
                    min-height: 100px;
                    
                }
                .third{
                    flex: 1;
                    font-size: 1.4rem;
                    color: #232323;
                    font-weight: bold;
                    padding-left: 2%;
                    text-align: center;
                }
            }
            .section-right{
                flex: 1;
                font-size: 1.5rem;
                text-decoration: none;
                position: relative;
                top: -30px;
                .title{
                    background: #94c11c;
                    width: 200px;
                    height: auto;
                    color: white;
                    line-height: 1.5;
                    text-align: center;
                    p{
                        padding: 5px;
                        i{
                            font-style: italic;
                        }
                        span{
                            text-transform: uppercase;
                            font-weight: bolder;
                        }
                    }
                    
                }
                svg{
                    polygon{
                        fill: #94c11c;
                    }
                }
            }
        }
    }
    .three{
        background: url(../../assets/slide/slide2ok.jpg) 0 0px no-repeat;
        height: 400px;
        
        .container{
            height: 400px;
            background: rgba(255, 255, 255, 0.5);
            .section-center{
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                .content{
                    text-align: center;
                    h3{
                        font-size: 2.45rem;
                        color: #232323;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #232323;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        .medium{
                            font-size: 1.8rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

}