.import-image{
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    .box-image{
        border: 1px solid #eee;
        height: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        text-align: center;
        margin-top: 10px;
    }
}