.radio{
    border: 1px solid transparent; // Viền mặc định
    display: flex;
    align-items: center;
    padding: 6px;
    flex: 1 1 auto;
    cursor: pointer;
    // margin-right: 10px;
    .radio__input{
        display: none;
    }
    .radio__input:checked + .radio__radio::after{
        // transform: scale(1);
        display: block;
    }
    .radio__radio{
        // width: 1.25em;
        // height: 1.25em;
        width: 17px;
        height: 17px;
        border: 1px solid #626262;
        border-radius: 50%;
        margin-right: 20px;
        box-sizing: border-box;
        padding: 2px;
        flex-shrink: 0;
        // background-color: #eaeaea;
        background-color: #eaeaea94;
    }
    .radio__radio::after{
        content: "";
        width: 100%;
        height: 100%;
        display: none;
        // background: #009879;
        background: #196ebf;
        border-radius: 50%;
        // transform: scale(0);
        // transition: transform 0.15s;
    }

    .radio__icon {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #626262;
        border-radius: 50%;
        background-color: transparent;
        color: transparent; // Ẩn biểu tượng khi chưa chọn
        margin-right: 10px;
        transition: background-color 0.2s, color 0.2s;
    }

    .radio__input:checked + .radio__icon {
        background-color: #eeaa81; // Màu nền cam khi chọn
        border-color: #eeaa81 ;
        color: white; // Hiển thị biểu tượng khi chọn
    }


    .radio__input:checked + .radio__radio{
        background-color: #fff;
    }

    .questError{
        background: red;
        color: rgb(255, 255, 255);
        padding: 4px;
    }

    .questSuccess{
        background: green;
        color: rgb(255, 255, 255);
        padding: 4px;
    }
}


.radio.disabled{
    .radio__input:checked + .radio__radio::after{
        background-color: #c3c3c3;
    }
    
    .radio__input + .radio__radio{
        border: 1px solid #c3c3c3;
        background-color: #f9f9f9;
    }
}
