// .radio-item {
//     // position: relative;
//     display: flex;
//     align-items: center;

//     input[type="radio"] {
//         display: none;
//     }

//     label {
//         display: block;
//         padding: 0px 50px;
//         border-radius: 6px;
//         cursor: pointer;
//         // min-width: 100px;
//         white-space: nowrap;
//         position: relative;
        
//         &:after, 
//         &:before {
//             content: "";
//             position: absolute;
//             border-radius: 50%;
//         }

//         &:after {
//             height: 22px;
//             width: 22px;
//             border: 2px solid #5f6368;  /* Border của hình tròn ban đầu */
//             left: 21px;
//             top: calc(50% - 12px);
//             transition: border-color 0.3s ease-in-out;
//         }

//         &:before {
//             background: rgb(10, 143, 220);;
//             height: 10px;
//             width: 10px;
//             left: 27px;
//             top: calc(50% - 6px);
//             transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
//             opacity: 0;
//             visibility: hidden;
//         }
//     }

//     input[type="radio"]:checked + label {
//         &:after {
//             border-color: rgb(10, 143, 220);; /* Đổi màu border của hình tròn sau khi click */
//         }

//         &:before {
//             opacity: 1;
//             visibility: visible;
//             transform: scale(1);
//         }
//     }
// }


.radio-item {
    display: flex;
    align-items: center;

    input[type="radio"] {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        // padding: 0px 50px;
        border-radius: 6px;
        cursor: pointer;
        white-space: nowrap;
        position: relative;
    }

    .custom-radio {
        height: 20px;
        width: 20px;
        border: 1px solid #5f6368;  /* Border của hình tròn ban đầu */
        border-radius: 50%;
        // margin-right: 10px;
        position: relative;
        transition: border-color 0.3s ease-in-out;
    }

    .custom-radio::before {
        content: '';
        background: rgb(10, 143, 220);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    }

    input[type="radio"]:checked + label .custom-radio {
        border-color: rgb(10, 143, 220); /* Đổi màu border của hình tròn sau khi click */
    }

    input[type="radio"]:checked + label .custom-radio::before {
        opacity: 1;
        visibility: visible;
    }
}
