// .dropdown{
//     flex: 1;
//     position: relative;
//     width: 150px;
//     height: 45px;
//     input{
//         border: 1.9px solid lightgrey;
//         border-radius: 8px;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         cursor: pointer;
//         background: #fff;
//         outline: none;
//         box-shadow: 0 5px 20px rgba(0,0,0,.05);
//         padding: 12px 20px; 
//     }
//     .matching-select{
//         position: absolute;
//         border: 1px solid #ddd;
//         top: 50px;
//         width: 100%;
//         background: #FFF;
//         box-shadow: 0 30px 30px rgba(0,0,0,.05);
//         border-radius: 10px;
//         overflow: hidden;
//         display: none;
//         z-index: 5;
//         font-size: 1.5rem;
//         div:first-of-type{
//             background: #ededed;
//         }
//         div:hover:not(div:first-of-type){
//             background: #62baed;
//             color: #FFF;
//         }
//         div{
//             padding: 5px 20px;
//             cursor: pointer;
//             ion-icon{
//                 position: relative;
//                 top: 2px;
//                 // font-size: 1.2rem;
//             }
//         }
//     }
//     .title{
//         position: relative;
//         color:#908D92;
       
//     }
//     .title::before{
//         position: absolute;
//         content: 'Tự động chuyển câu';
//         width: 108px;
//         top:-5px;
//         left: 15px;
//         background: #fff;
//         text-align: center;
//         font-size: 10.5px;
//     }
// }
// .dropdown::before{
//     content: '';
//     position: absolute;
//     right: 20px;
//     top: 15px;
//     width:8px ;
//     height: 8px;
//     border: 2px solid #333;
//     border-top: 2px solid #FFF;
//     border-right: 2px solid #fff;
//     transform: rotate(-45deg);
//     transition: 0.5s;
//     pointer-events: none;
//     z-index: 3;
// }
// .dropdown.active::before{
//     top: 22px;
//     transform: rotate(-225deg);
// }
// .dropdown.active{
//     .matching-select{
//         display: block;
        
//     }
    
// }


.dropdown {
    flex: 1;
    position: relative;
    width: 150px;
    height: 45px;

    input {
        border: 1.9px solid lightgrey;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: #fff;
        outline: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
        padding: 12px 20px;
    }

    .matching-select {
        position: absolute;
        border: 1px solid #ddd;
        top: 50px;
        width: 100%;
        background: #FFF;
        box-shadow: 0 30px 30px rgba(0, 0, 0, .05);
        border-radius: 10px;
        overflow: hidden;
        display: none;
        z-index: 5;

        div:first-of-type {
            background: #ededed;
        }

        div:hover:not(div:first-of-type) {
            background: #62baed;
            color: #FFF;
        }

        div {
            padding: 5px 12px;
            cursor: pointer;
        }
    }

    .title {
        position: relative;
        color: #908D92;
        font-size: 11.5px;
        background: #fff;
        width: 108px;
        top: -9px;
        left: 15px;
        text-align: center;
    }

    .dropdown-icon {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 12px;
        transition: transform 0.5s;
        pointer-events: none;
    }

    &.active .dropdown-icon {
        transform: rotate(180deg);
    }

    &.active .matching-select {
        display: block;
    }
}
