@use "../abstracts";
.sidebar-blog-list{
    box-shadow: 5px 4px 11px rgba(0,0,0,.2);
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    @include abstracts.breakpoint(lg) {
        margin-top: 20px;
        margin-bottom: 30px;
     }
    
}
.widget-title{
    display: block;
    font-size: 1.6rem;
    text-transform: unset;
    letter-spacing: 0;
    font-weight: 700;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    line-height: 1.3;
    background: linear-gradient(90deg, #EC4532 0%, #F15726 49.48%, #FEB343 100%);
    color: white;
    padding: 8px 10px;
}

.box-sidebar{
    padding:15px 0;
    // border-bottom: 1px solid silver;
    .box-image{
        img{
         width: 100%;
         height: 100px;
         object-fit: cover;
         padding:5px;
         
        }
     }
     .box-text{
             padding:5px;
         h5{
             a{
                 text-transform:uppercase;
                 text-decoration: none;
                 color: black;
                 font-size: 1.4rem;
                 font-weight: 700;
                 line-height: 1.4;
                 overflow: hidden;
                 display: -webkit-box;
                 -webkit-line-clamp: 2; /* number of lines to show */
                 line-clamp: 2; 
                 -webkit-box-orient: vertical;
             }    
         }
         .time{
             font-size: 1.2rem;
             font-style: italic;
             margin: 5px 0 5px 0;
         }
             
         p{
             font-size: 1.2rem;
             color: #7f7f82;
             text-align: justify;
             line-height: 1.3;
             overflow: hidden;
             display: -webkit-box;
             -webkit-line-clamp: 2; /* number of lines to show */
             line-clamp: 2; 
             -webkit-box-orient: vertical;
                    
         }
     }
}

