.sidebar-blog-category{
    background-color:white;
    margin: 30px 0;
    padding: 15px 15px 0;
    border-radius: 10px;
    // border:1px solid #d9e1ee;
    span{
        display:block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: 0;
    }
    ul{
        li{
            a{  
                display: inline-block;
                text-decoration: none;
                color: #000000;
                padding: 8px 0;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 400;

            }
        }
        li + li{
            border-top: 1px solid #ececec;
        }
    }
}