@use "../abstracts";
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --background-back:#feb343;
    --background-font:#232323;
    --color-font:#fff;
    --color-back:white;
    --border:#fff;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    background-color:#f7f7f9 ;
    @include abstracts.breakpoint(md) {
        background-color:#fff ;
      }
}

.sticky{
    position: sticky;
    top: 0.5vh;
}

a{
    text-decoration: none;
}

.btn-success{
    background-color: #17a2b8;
    color: white!important;
}

.btn-light{
    color:black;
}

.border-success{
   border-color: #17a2b8!important;
}
